[2020-06-05 06:11] floydspace opened #1 "Include marked as external modules to deployment package"
We need to include marked as external modules to the deployment package, we cannot just use serverless include them because they can depend on other modules. so the idea like `serverless-webpack` do, to make temporary `package.json` with the modules, install them and put in deployment artifacts folder

[2020-06-17 22:00] #1 closed

[2020-06-17 22:03] floydspace commented on #1
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.3.0)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-25 08:01] shierro opened #18 "[Request] serverless-offline usage example"
Hi! Is it possible to include a sample app using this plugin, that has plays well with serverless-offline? I tried to use and got this error

![ScreenShot_20200625160036](https://user-images.githubusercontent.com/12129589/85680617-0c71ff00-b6fd-11ea-9554-732c6e41fab9.png)

[2020-06-25 08:02] shierro commented on #18
i'm using v5 of serverless-offline
"serverless-offline": "5.12.1"

and is testing using the http endpoint provided by serverless-offline w/c is something like this

http://localhost:3000/2015-03-31/functions/cb-backend-boilerplate-lambda-staging-signupAttempt/invocations

[2020-06-25 12:13] floydspace commented on #18
Hey @shierro . Have a look in the example folder, I updated it with `serverless-offline` usage. It's pretty straightforward, you just install both plugins and declare them in `serverless.yml` in a certain order, no need extra configuration.

According to your screen, probably you configured esbuild custom section not correct, please provide your code to help me figure out what is the issue.

[2020-06-25 23:21] uneco opened #19 "build option is strangely merged"
serverless.yml
[code]

command
[code]

output:
[code]

Online Reproducibility Demo is [Here](https://runkit.com/embed/zc9mh1xc7omv)

[2020-06-25 23:43] uneco commented on #19
## case 2

serverless.yml
[code]

output:
[code]

This error is caused by [this line](https://github.com/floydspace/serverless-esbuild/blob/master/src/packagers/index.ts#L38).
contents of `message` is `Could not find packager 'n,p,m,y,a,r'`.

[2020-06-26 06:54] floydspace commented on #19
Hey @uneco , thank you for your report, indeed it's a bug, I checked and seems #18 also caused by the same issue

[2020-06-26 07:06] #18 closed

[2020-06-26 07:06] #19 closed

[2020-06-26 07:09] floydspace commented on #18
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.3.1)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-26 07:09] floydspace commented on #19
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.3.1)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-26 07:27] shierro commented on #18
thanks @floydspace for the quick response! I'll test this when I get the chance

[2020-06-30 10:56] uneco opened #23 "feature request: Option to selection of packages to be excluded from externals"
Besides the 'aws-sdk' hard-coded in [this line](https://github.com/floydspace/serverless-esbuild/blob/master/src/packExternalModules.ts#L145), there are other libraries, such as the one provided by Lambda Layers (often for faster builds).

[2020-07-01 22:32] #23 closed

[2020-07-01 22:34] floydspace commented on #23
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.4.0)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-13 16:47] bryantbiggs opened #78 "Error: Invalid option: "exclude""
When using the latest version of the plugin with the latest of esbuild, the following error is encountered:

[code]

This is resolved by downgrading to v1.4.0 or by setting the esbuild version to be `~0.6.0` (0.6.34). It looks like somewhere in v0.7.x of esbuild this plugin stopped working with the excludes option

I have a repro [here](https://github.com/clowdhaus/dogged-params/pull/2)

[2020-09-13 20:35] #78 closed

[2020-09-13 20:37] floydspace commented on #78
@bryantbiggs thank you for your report. indeed, it was breaking change in esbuild v0.7

[2020-09-13 20:38] floydspace commented on #78
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.5.1)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-28 19:23] PatrykMilewski opened #79 "Package individually doesn't optimise package size"
Hello!
This plugin works great, thank you for sharing it!

I wanted to test, if it works for our use case and I've found some problems.

We are using Yarn as package manager with workspaces enabled. In the stack that I'm testing, we are having 4 lambda functions. When I was using Webpack, each lambda had different package size, where the smallest was 1.5 MB and the biggest was 3 MB.

However when

[2020-11-30 14:30] floydspace commented on #79
Hey @PatrykMilewski, thank you for using the plugin.
Indeed, I was able to reproduce. It's handled, but halfway. so it does not work properly now.
Will work on the fix as soon as I have time.

[2020-11-30 14:35] PatrykMilewski commented on #79
@floydspace Thanks! Could you share some more details? Maybe I could fix it myself and create a PR?

[2020-11-30 14:56] floydspace commented on #79
@PatrykMilewski the issue is that serverless by default packs everything that is in the `this.serverless.config.servicePath` folder, I replace this folder to `.build` one as all compiled artifacts are stored there during the compilation. But seems like we have to prepare artifacts for each lambda manually, so compile, zip it, and provide the archive as lambda artifact. the implementation by `serve

[2020-12-04 22:20] jayair opened #80 "Specifying a path to the package.json"
Hi there,

I was testing this plugin out and ran into some issue. We have a monorepo setup where the individual services do not have their own `package.json`. I noticed that this plugin uses the code from [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack). Any plans to add the ability to set your own path for the `package.json`? Or alternatively, climbing up the director

[2020-12-05 11:45] floydspace commented on #80
Hi @jayair . thank you for the issue
yes, it does make sense to add `packagePath` option.
I will work on it

[2020-12-08 10:40] paulswail commented on #80
I'm using a monorepo with a single root package.json and have hit the same issue. My preference would be for the default behaviour to be to climb up directories until it finds a package.json file like the serverless-webpack plugin does.

[2020-12-11 00:53] floydspace commented on #80
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.6.0)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-11 00:53] #80 closed

[2020-12-11 00:57] floydspace commented on #80
@jayair @paulswail hey guys, I added an optional `packagePath` parameter which indicates the absolute path to the package.json file to be used for packaging, if it is omitted, the package.json will be found walking up folders
Please let me know if you have any issues. thanks

[2020-12-16 22:25] jayair commented on #80
@floydspace That's awesome. Thanks for quick response. I'll give it a test shortly. And we'll be promoting this plugin ASAP.

[2021-01-01 08:53] adikari opened #84 "Won't auto compile with serverless offline"
I could not get this plugin to auto compile on save with `serverless-offline` plugin.

Does the plugin support this function or I am missing something?

I am running the plugin with the default configuration.

Thanks

[2021-01-03 11:49] dashmug commented on #79
Thank you for this package @floydspace. I am experiencing the same problem with `v1.6.0`.

[2021-01-07 12:45] #84 closed

[2021-01-08 09:59] dashmug commented on #79
My workaround is to use the `include`.

[code]

I don't have to do this with `serverless-webpack`.

[2021-01-08 10:04] PatrykMilewski commented on #79
@dashmug Should work, but it's kinda annoying and might cause problems, like you use some common files and then you forgot to include them.

Using serverless-webpack solves the problem? But then isn't it slowing down the whole build? It ruins all of the benefits of quick build of ESBuild, isn't it?

[2021-01-08 10:09] dashmug commented on #79
@PatrykMilewski I'm only reporting my current workaround in the hopes that it can help someone. It is indeed annoying to have to exclude/include them explicitly. I didn't need to do that with my other project using `serverless-webpack` and I get optimised packages per function.

[2021-02-12 12:58] olup commented on #79
Hoping for this feature as well, any updates on it ?

[2021-02-15 18:37] floydspace commented on #79
Sorry guys, don't have time to focus on this issue.
If you want to use `serverless-webpack` as workaround I would suggest you use it in pair with `esbuild-loader`, so you would have the same fast build benefit

[2021-02-16 08:26] yeukfei02 opened #86 "package individually doesnt include node_modules and package.json"
Hi,

this is a nice lib.
but I try this lib with the serverless framework, I face some problem:

`serverless.yml`

[code]

I didn't set anything in `custom`..inside the `.serverless` folder I don't see any `node_modules` + `package.json` file.
If I deploy this lambda func to aws, I guess will fail?
How can I make  `node_modules` + `package.json` file included in each lambda func zip?

Thanks!

[2021-02-16 14:37] olup commented on #86
I'd say you have to declare externals if you want to have your modules added as externals modules to your zip. Otherwise, all the code is bundle as one js file, isn't it ?

It shouldn't fail, as long as you have no native dependencies in your modules - ie only javascript depencies that are bundable by esbuild

[2021-02-16 14:41] yeukfei02 commented on #86
@olup

lets say I have 20+ restapi in `serverless.yml`
I check another issue say need to add `include` to each http event, so i need to manually add all `include` to those 20+ API...

because I was using `serverless-webpack` and this can help to add node_modules + package.json file to the individual package.
I am looking for `esbuild` to replace `webpack` because it is faster

[2021-02-16 15:23] yeukfei02 commented on #79
@floydspace

I think this issue is something related to my issue:

#86

[2021-02-16 16:12] olup commented on #86
just use the external key of the config if you need, otherwise a single bundle should do.

"I check another issue say need to add include to each http event, so i need to manually add all include to those 20+ API..." this is a workaround only needed if you want to have specific bundle size on each lambda. But it's a workaround, and may not be advisable in your own case.

The bottom line is this pa

[2021-02-16 16:18] yeukfei02 commented on #86
@olup

thanks for the answer.
I think I will keep `serverless-webpack` first, but I will use `esbuild-loader` with it first.
for all the lambda func to do package individually.

[2021-02-23 10:23] wimpheling opened #88 "Feature request : being able to customize handler resolution"
I've been trying to use your plugin but my setup involves Instana (a log analyzer vendor). The `@instana/serverless` module works this way :

 - You must add an instana `layer` that provides the libraries
 - You change the handler to an instana handler provided by the layer
 - You provide the 'real' handler to the instana layer in an env variable.

 So the lambda looks like this :
[code]

When usi

[2021-02-25 13:53] olup commented on #79
@dashmug and @PatrykMilewski I have added a PR to optimize individual packaging: https://github.com/floydspace/serverless-esbuild/pull/87
I'd love to have your input on this ; if this is working with your repo, use cases, etc... Could you give it a try ?

[2021-02-25 14:43] PatrykMilewski commented on #79
Sure! I will give it a try today or tomorrow, thank you!

[2021-02-26 08:44] floydspace commented on #79
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.8.0)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-26 08:44] #79 closed

[2021-02-26 08:47] floydspace commented on #86
Hey @yeukfei02, we released the individually packaging fix in v1.8.0, could you please verify that it resolves your issue.

[2021-02-26 08:52] yeukfei02 commented on #86
@floydspace

hey i just try in one of my project, I use with serverless framework and run `yarn run package`, this means `serverless package`..it cannot include `serverless_sdk` folder

[code]

thanks.

[2021-02-26 09:53] olup commented on #86
hey @yeukfei02 . could you post here your `serverless.yml` file ?

[2021-02-26 10:08] yeukfei02 commented on #86
@olup

`serverless.yml`

[code]

serverless version: `2.25.2`

[2021-02-26 11:15] PatrykMilewski commented on #79
I just tested it and it works great! Thank you @olup for fixing this issue!

[2021-02-26 12:14] olup commented on #86
Interesting. Would it be a problem for you to attach or link the zip'ed package for this function ? I'd like to check how the serverless_sdk is imported in the bundle. Other question, in your handler's code, do you `import` or `require` serverless sdk at any point ? and can I see the `package.json` ?

[2021-02-26 13:16] yeukfei02 commented on #86
@olup

package.json

[code]

my handler.ts didnot import any sls sdk..i believe when i run `yarn run package` the `serverless-esbuild` didnot include `node_modules` + `package.json` + `schema.prisma`

its ok. i am still using `serverless-webpack`

[2021-02-26 13:20] olup commented on #86
serverless esbuild did not include node_modules nor package.json because you did not declare any externals. This is intended behavior. The is no dependencies to add to the bundle if you don't declare them in externals (the same goes for serverless-webpack, but you might be using node_externals plugin that takes ALL your dependencies as externals).

Same goes for your prisma schema. You have to dec

[2021-02-26 13:23] yeukfei02 commented on #86
@olup

yes I use `webpack-node-externals` in the `webpack.config.js`
I think for my case will use `serverless-webpack` + `esbuild-loader` first.

thanks.

[2021-02-26 13:23] #86 closed

[2021-02-26 14:01] floydspace commented on #88
Hi @wimpheling, thank you for the request, we will consider this if we get more requests.
For now, I recommend using [patch-package](https://github.com/ds300/patch-package), it's a nice package to keep your patches to `node_modules` shared. so you do not have to make a fork or whatever.

[2021-02-28 12:09] bboure opened #90 "Avoid changing this.serverless.config.servicePath"
Hi!

First off, thanks for this plugin! I have been trying it and it looks awesome! A decent alternative to Webpack, indeed.

I am having compatibility issues with another plugin though (specifically with [serverless-appsync-simulator](https://github.com/bboure/serverless-appsync-simulator)). It is an offline solution for AppSync and it relies on `this.serverless.config.servicePath` in order to bu

[2021-02-28 18:46] floydspace commented on #90
Hi @bboure, thank you for your request. The idea of replacing the servicePath is to let serverless build correct artifact archives for deployment (we do not need to pack source code, we need the built bundle). The possible solution here could be: not replace servicePath, but prepare deployment archives ourselves. I guess it is what @olup has done with individual packaging feature. To be honest the

[2021-02-28 19:33] olup commented on #90
I agree we should try and avoid rewriting the default. The logic can stay the same, for most part. The only thing is to actually do the bundle, as @floydspace described. Even this logic can be rewired from the individual packaging that actually filters out things depending on what we package. So it should be enough to not filter anything for a global packaging. If times permits I'll send a pr this

[2021-02-28 19:59] bboure commented on #90
Great. Thank you @olup
Let me know if I can help.

[2021-03-01 01:25] kennandavison opened #91 "Package individually also packages sourcemaps of other functions"
https://github.com/floydspace/serverless-esbuild/pull/87 - this PR fixed the individual function packaging, but I'm noticing sourcemaps are still generated for the other functions (not the js files, just the js.map extensions).

To repro just have:

esbuild:
    sourcemap: true
package:
    individually: true

ps. thanks @olup for fixing the individual packaging bug!

[2021-03-01 06:14] olup commented on #91
Indeed, bundling and source mapping is done once for the whole project, then files are distributed over individual artifact archives, and this is done by exclusion of files. So performance wise it's the same, however you are right we should blacklist non relevant source maps. I'll fix that today or tomorrow.

[2021-03-01 16:03] #91 closed

[2021-03-02 14:33] olup commented on #90
hey @bboure you can see that we have a PR here https://github.com/floydspace/serverless-esbuild/pull/93 - would you mind trying this version in your repo to see if it builds fine ?

[2021-03-05 18:07] #90 closed

[2021-03-06 10:59] thomaschaaf opened #96 "Use bestzip instead of archiver"
https://www.npmjs.com/package/bestzip should make deployment quicker and use less memory. serverless-webpack has decided to use it too: https://github.com/serverless-heaven/serverless-webpack/pull/596/files

[2021-03-06 11:47] olup commented on #96
Great idea ! Will add it later today or Monday.

[2021-03-06 12:40] olup commented on #96
On second thought I am not sure about `bestzip`. The lib provides no typescript typings, even from the community. That is not a big deal in itself but it says something about the lib distribution and willingness to live up to modern standards. Its use is also quite confidential compared to `archiver` or `adm-zip`, and it hasn't been updated in 6 months. The last resolved issues date back from 2018

[2021-03-06 12:53] olup commented on #96
For instance, https://101arrowz.github.io/fflate/ ?

[2021-03-06 17:05] thomaschaaf commented on #96
@olup in theory you could write the native zip command calling part yourself 🤷 there is also one more thing missing that is specifing the lastUpdatedTime to `new Date(0)`. I still feel that zipping speed is more important than getting the same hash for the zip file.

[2021-03-06 19:54] olup commented on #96
Ok that's interesting. Improvements on the zipping would be a plus, however this is typically something that we be run once on deploy only, probably on a ci or something, and part of a process (bundle and upload to aws) that is pretty long anyway. So I wonder how much we could really benefit from a zip optimization. However every useless code should be questioned, and I am now wondering: what's th

[2021-03-07 06:15] thomaschaaf opened #97 "Allow usage of esbuild plugins"

[2021-03-08 15:02] thomaschaaf opened #98 "Memory usage grows exponentially of the esbuild process"
When using serverless-offline and making changes to files the memory usage of the esbuild process seems to grow exponentially.

I start out with about 1 GB of ram usage and after 10 changes the esbuild process is using 8 GB of ram.

[2021-03-08 15:34] olup commented on #98
I can confrim this. I am running into stack overflows continuously - and my colleagues on the project too.
It is probably linked to the alchemy between `chokidar` and `esbuild`.

[2021-03-08 15:50] olup commented on #98
From what I can see this does the leak: https://github.com/floydspace/serverless-esbuild/blob/ad3e93e5452122c17f110648c4f2e2a2bd0463c3/src/index.ts#L160 `true` option here is using incremental bundling. Maybe a lead.

[2021-03-08 15:59] olup commented on #98
incremental build does keep things in memory to speed up subsequent bundling: https://esbuild.github.io/api/#incremental. Could it be a leak in esbuild itself? Should we call `dispose` to free up resources from time to time ?

[2021-03-11 07:37] kennandavison opened #99 "Sourcemaps not being parsed properly?"
Hey! Not sure if I'm doing something wrong here, but I see the sourcemap next to my files and it's not being parsed by my log viewer... Anyone else using source maps?

https://github.com/floydspace/serverless-esbuild/issues/91

[2021-03-11 12:37] floydspace commented on #99
hey @kennandavison could you try using inline sourcemaps to reduce the number of the possible reasons of the issue
[code]

[2021-03-11 12:53] kennandavison commented on #99
Tried that and still having troubles getting sourcemap associated.

More context: using seed.run (which has a Sentry-like stack trace viewer). Was using serverless-bundle which worked, but not working here. Trying to also see if it's on their end as well!

[2021-03-14 19:00] floydspace commented on #99
Hey @kennandavison, I'm trying to test the issue. Have prepared the [stack for seed.run](https://github.com/floydspace/serverless-esbuild-seed.run-example), it's perfectly deployed, but not sure how to reproduce your issue, could you please guide me where is that `Sentry-like stack trace viewer`. thank you

[2021-03-14 19:22] kennandavison commented on #99
https://seed.run/docs/issues-and-alerts.html#enabling-issues should get it up and running

[2021-03-14 19:38] floydspace commented on #99
@kennandavison I bet you're expecting stack trace like this:
![image](https://user-images.githubusercontent.com/5180700/111081746-1cd53e80-8505-11eb-895c-d489fa879eb5.png)
with exact pointer where is the issue?

[2021-03-14 19:42] kennandavison commented on #99
Yep, the line number/pointer is off when using esbuild, but correct when using serverless bundle. Are you seeing the same thing?

[2021-03-14 19:47] floydspace commented on #99
@kennandavison yes I could reproduce it. so with `serverless-esbuild` plugin I cannot see the pointer to the source code line.
But I cannot help here much, because it's [esbuild](https://esbuild.github.io/api/#sourcemap) feature itself. Esbuild just creates source maps a little bit differently than webpack. I would raise the issue in their repository. My assumption is you probably have to push sou

[2021-03-14 20:02] floydspace commented on #99
@kennandavison no the assumption does not work either, so it's definitely `esbuild` issue

[2021-03-14 20:05] kennandavison commented on #99
Got it - thanks for checking this out!

[2021-03-14 20:08] floydspace commented on #99
@kennandavison let me know if you gonna raise the issue in `esbuild` repo.
Closing this issue.

[2021-03-14 20:08] #99 closed

[2021-03-15 13:45] prasad-anecure opened #100 "Transforming for-await loops to the configured target environment is not supported yet"
support for esbuild with for wait

[2021-03-15 13:47] olup commented on #100
Can you elaborate a little?

[2021-03-15 14:05] floydspace commented on #100
Hi @prasad-anecure.

As [esbuild documentation](https://esbuild.github.io/content-types/#javascript) says:

Please forward this issue to `esbuild` repository

[2021-03-16 17:59] thomaschaaf commented on #98
@olup I think it's just used incorrectly. We need to call rebuild instead of initiating a new esbuild instance. That way rebuilding would be even faster aswell.

[2021-03-16 18:52] justin-prather commented on #97
I would also appreciate this, unless there is another way to ignore modules similar to webpacks ignorePlugin

[2021-03-16 19:16] olup commented on #98
Yes true, otherwise the cache is a bit lost anyway. I'll flesh a pr tomorrow. Beyond this one subject, serverless offline, in watch mode, is terribly leaking so the rest of the process will end up eating the whole memory anyway. But we can improve what depends on us.

[2021-03-16 19:19] olup commented on #97
@justin-prather I might be mistaken, but isn't the `exclude` option used for exactly that ?

[2021-03-16 20:08] justin-prather commented on #97
@olup yes and no

From my understanding, you can exclude individual files using the serverless.yml exclude section. In my case though, what's happening is that the build is failing on an optional dependency of one of my project's dependencies. specifically pg-native. A package called slonik tries to use pg-native and if it is not available falls back to the pg module.  the way i got around this wi

[2021-03-16 20:16] thomaschaaf commented on #98
I rewrote it to use rebuild. Sadly this does not resolve the memory issue. https://github.com/floydspace/serverless-esbuild/pull/101 so I think it might actually be an esbuild issue.

[2021-03-16 21:54] floydspace commented on #97
Hey @thomaschaaf, unfortunately, I cannot reproduce the build error with `slonik`, or it is a runtime issue?
maybe it's possible to use `exclude` option in pair with [inject](https://esbuild.github.io/api/#inject). According to the `inject` doc you could make desired behavior for global vars. Would be good If you could make a minimal reproducible example to understand the issue. Anyway plugin supp

[2021-03-17 00:53] justin-prather commented on #97
@floydspace looks like my issue was bubbling up from npm. Even though I'm not installing pg-native, it was still looking for the libpq dependency. Would still be nice to be able to just ignore that pattern and not have to install libpq

[2021-03-21 20:35] ipauler opened #102 "GraphQL support"
Is there a way to include graphql files?
There's a esbuild-graphql plugin, but i'm not sure how to use it here

[2021-03-22 07:53] floydspace commented on #102
Hi @ipauler you can use `esbuild` built-in `text` loader like this:
[code]
so it will bundle .graphql files

[2021-03-22 08:01] #100 closed

[2021-03-22 12:10] floydspace commented on #102
We have an open issue https://github.com/floydspace/serverless-esbuild/issues/97 about plugin support, so it's kind of related. We need to make sure that https://github.com/luckycatfactory/esbuild-graphql-loader is usable with `serverless-esbuild`

[2021-03-23 10:51] ipauler commented on #102
Got it, thanks.
For now got it solved by using
[code]

[2021-03-23 10:51] #102 closed

[2021-03-24 22:12] ipauler opened #103 "External dependency is not added to node_modules"
I have an external dependency 'A' which is needed by other external dependency 'B'.
'A' is not used in my code so when function got bundled it doesn't adds 'A' into node_modules.
Is there a workaround for that ? Or maybe i can create a PR with a fix for that ?

[2021-03-24 22:17] olup commented on #103
If A is declared as external, it should be added to your node modules with all it's dependencies. If you only declare b as external it's indeed more complicated. What is your situation ? What did you declare in your external config ? And, for the record, what packages are your A and B ?

[2021-03-24 22:23] ipauler commented on #103
yes i'm doing individual packaging
so the issue is with `util-deprecate`
[code]
`pg` is external in my case because it's not working other way

[2021-03-24 22:48] olup commented on #103
Last question, are you in a mononrepo / workspace ? Are you bundling on you computer or in the cloud ? And in the former case, what os are you on ? Can you confirm util-deprecate is found in your local node_modules ?

[2021-03-24 22:55] ipauler commented on #103
yarn workspaces
util-deprecate is in node_modules in root dir
trying building it locally on mac and in CodeBuild with linux same result

[2021-03-24 23:04] olup commented on #103
Thank you, I'll try to reproduce the error in the morning here.

[2021-03-25 08:10] olup commented on #103
Would you mind sharing either a repo, either a copy-paste copy of your `package.json` (in your workspace and in the root) and your `serverless.yml`, so that I can reproduce a similar setup ?

[2021-03-25 08:40] olup opened #104 "Prevent installation of optional peer dependencies when packaging externals"
While investigating #103 I saw that `pg-native` gets always bundled with `pg` which might not be needed by the code (if it doesn't actually require native pg from pg). This is listed as `peerDependencies`, but set optional with :

[code]

We might not want to auto bundle optional peer deps in the externals @floydspace ?

[2021-03-25 09:43] floydspace commented on #104
@olup I agree, optional peers must be skipped, but I don't think we should manage it with our packaging logic, it should be handled by `esbuild`, otherwise it would be an unexpected side effect.
See https://github.com/floydspace/serverless-esbuild/issues/97 I think this is related somehow, we just need to implement plugin support to handle this case.
Basically it's how all the world does with `pg-

[2021-03-25 13:51] olup commented on #104
I am not sure yet, but as of now I think you are right, we should probably just implement plugins (I wanted to make a PR this week but have been delayed) and leave this as a workaround. This is a true edge-case, I think there is a questionable design from the `pg` library. But I can only agree with you when you note that it's probably outside of the scope of our library.

[2021-03-25 16:23] floydspace commented on #104
Agreed, let's prioritise plugin support and if it solves the edge case then we are good

[2021-03-26 02:07] kennandavison commented on #99
Hey - turns out you just need to add an env var! Serverless-bundle automatically does this while esbuild doesn't. https://serverless.pub/aws-lambda-node-sourcemaps/#using-the-source-map-support-module

Hope this helps someone else using sourcemaps :)

[2021-04-02 09:48] CorentinDoue opened #105 "Google support broken"
## Description
Using `serverless-esbuild >= v1.7.0` with `google` provider cause an error
[code]

## Cause

The commit https://github.com/floydspace/serverless-esbuild/commit/7325a7857babaf4d5b6a3c2f4692e115c330ef59 changes the return type of `src/helper.ts:extractFileNames` from `string[]` to `{ entry: string; func: any }[]` for all provider except `google`.

If the provider is `google`, the retu

[2021-04-02 10:30] olup commented on #105
Thanks for reporting this ! As it is mentioned somewhere google support is indeed a little experimental since those changes, as I could not test the provider properly. I will fix this asap (on holiday now so could be a couple of days)

[2021-04-02 22:47] kennandavison opened #106 "Importing .graphql files?"
Hi - when saying "without imports", do you mean imports in the .graphql file or importing .graphql files? Trying to see if I can load a .graphql schema into a function call: https://github.com/floydspace/serverless-esbuild/issues/102

[2021-04-03 08:21] floydspace commented on #106
I mean imports in `.graphql` files, so if you have a single `.graphql` file it works.

[2021-04-03 08:31] kennandavison commented on #106
Got it and you can just directly import the .graphql file like this after you add the loader? import schema from './file.graphql'

[2021-04-03 08:45] floydspace commented on #106
Yes but keep in mind that it will be bundled as a `string`, so you will have to `parse` your `schema` variable and then put it to graphql server

[2021-04-03 09:06] #106 closed

[2021-04-03 09:07] kennandavison commented on #106
Got it, thanks!

[2021-04-04 04:52] olup commented on #105
@CorentinDoue - I am reading gcp doc and see that we have two ways to handle the file naming - either by having an `index` or by specifying the main in `package.json`. just curious here, which one do you use ? Also, are you hoping to use individual packaging ?

[2021-04-04 07:24] olup commented on #105
@CorentinDoue would you mind trying to use #107 to bundle your function on GCP, and tell me if this fixes your problem? Packaging works alright, however I could not deploy it on GCP to further check that function executes properly (no GCP project and account at hand ATM).

[2021-04-04 16:26] CorentinDoue commented on #105
I tested it and it looks good. Thank you

[2021-04-04 17:26] olup commented on #104
I'll close it then.

[2021-04-04 17:26] #104 closed

[2021-04-05 07:11] #105 closed

[2021-04-07 14:44] ipauler opened #108 "Esbuild watch with sls offline not working"
Hello.
I've added a watch pattern in esbuild config
[code]
it's recompiling code after changes, but those changes are not working
like if i add `console.log('hello')` it will recompile but i won't see that console.log() anywhere
same for other changes

[2021-04-07 14:51] joelpickup commented on #108
Are you certain it's not this long standing issue with serverless-offline (https://github.com/dherault/serverless-offline/issues/864) ?

Enabling `--useChildProcesses` fixes this.

[2021-04-07 19:08] ipauler commented on #108
@joelpickup thank you will check
looks like it

[2021-04-07 19:18] ipauler opened #109 "Sourcemap not showing actual error stack trace"
I've enabled source maps, but all errors stacktrace still points to bundled minified file which is not readable
i've tried `sourcemap: inline / enabled /true `
tried adding `--enable-source-maps`  to NODE_OPTIONS env in serverless config and tried passing it directly before launching sls offline
maybe i'm missing something ?
(sorry guys i know i'm creating too many issues, just trying to get it wo

[2021-04-07 19:44] ipauler commented on #108
using childProcess flag helps, but after rebuild i have cold start which is not useful in my case
anyway thanks, i'll be waiting for some fixes on serverless-offline side

[2021-04-09 10:49] kabo opened #110 "package.patterns seems to be ignored"
The README says

But package.include/exclude has been deprecated and replaced by package.patterns.

However, if I do something like

[code]

that file is not included in the zip.

If I do

[code]

that doesn't have any effect either. It seems to just be ignored.

[2021-04-09 12:12] kabo commented on #110
Looking at https://github.com/floydspace/serverless-esbuild/blob/master/src/index.ts#L220 it appears only `include` is honoured, and only in the global `package` section, not on the individual functions.

[2021-04-09 21:23] kabo commented on #110
Ah, but `@types/serverless` hasn't been updated to support patterns... https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/serverless/index.d.ts#L57-L62

[2021-04-09 22:02] kabo commented on #110
I've made a PR to the types to support patterns
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52301

[2021-04-11 11:43] mattisdada commented on #104
I'm also running into this problem :(

For me particularly, JSDom has an optional peer dependency of `canvas` which is causing all sorts of grief.

My question is though, how is `canvas` getting downloaded and installed in this process? It's not actually downloaded anywhere else, so npm must be getting called at some point to grab it during watch?

[2021-04-11 19:56] olup commented on #108
I'll close this. Feel free to reopen if you need more help or find bugs on this lib's side.

[2021-04-11 19:56] #108 closed

[2021-04-11 20:03] olup commented on #104
Hello ! Can I ask how you use JSDom in your code? Specifically, is it something you bundle as external?

[2021-04-12 00:10] mattisdada commented on #104
Yup, marked as external in serverless.yml

[code]

And merely importing it causes `canvas` to be pulled into `node_modules` in the build (it's an optional peer dependency of jsdom, if it's pulled in it changes the behavior and we do not need it). I even fully removed `jsdom` from code, and it's **only** listed in `dependencies` in `package.json`.

Although if never importing `jsdom` in code doesn'

[2021-04-12 01:49] mattisdada commented on #98
I am reporting I've had similar issues, each build just linearly increases the amount of memory esbuild is using, if I was to hazard a guess, I'm thinking it has something to do with `node_modules` and this quote from the esbuild [docs](https://esbuild.github.io/api/#incremental):

I have a feeling something is causing all the metadata change from ESBuilds perspective and it might not garbage coll

[2021-04-12 06:23] #97 closed

[2021-04-12 06:38] olup commented on #104
Yes, that's the thing, check : https://github.com/floydspace/serverless-esbuild/issues/104

External are pulled with their optionals peer dependencies as of now. Plugins support will provide a workaround. But we might do something more backed in.

[2021-04-12 09:47] mattisdada commented on #104
We are on #104 :)

Yeah I had a peek of the code and it does just pull down all peers without any condition. Simply removing that chunk did resolve it for me.... What was the rationale of grabbing all the peers like that? Seems like it'll likely cause more issues than solve

[2021-04-12 10:15] olup commented on #104
Lol sorry, answering too early after wake up. Yes, as you read, we are thinking of some ways to fine tune this, I am not sure myself why this was added in the first place.

[2021-04-13 09:07] #110 closed

[2021-04-13 11:57] olup commented on #104
@floydspace thinking about it more, it might actually be our responsibility to not install *optional* peer deps in the case of externals as we are the one installing them in the first place, don't you think ?

@mattisdada it's expected our our packaging to include the peer dependencies of the external modules, however I agree optionals could probably be skipped, and let user include them if needed

[2021-04-13 12:27] floydspace commented on #104
@olup you might be right, if we choose not to bundle a certain dep (with optional peers), our packager comes to the game which has to do the job right

[2021-04-13 13:43] olup commented on #104
@mattisdada what about https://github.com/floydspace/serverless-esbuild/pull/113 ? Is that solving your problem ?

[2021-04-14 18:30] arpadgabor opened #114 "Any way to use `knex`?"
Currently trying to package `knex` with `pg`. This was also a problem `serverless-webpack` faced but by force including the required packages it worked in the end. [This is the only issue](https://github.com/evanw/esbuild/issues/473) that I could find related to knex and esbuild but doesn't seem to solve my problem.

This is the error I get when running `sls package`:

[code]
To note that it also

[2021-04-14 18:35] olup commented on #114
You might have an error file in `.serverless/build` with more details about the error ?

[2021-04-14 18:42] arpadgabor commented on #114
It doesn't generate any log file, here's a screenshot:

![image](https://user-images.githubusercontent.com/9270494/114762139-10453f80-9d6a-11eb-910b-d41757d193b9.png)

And here's the whole output with `SLS_DEBUG=*`

[code]

I can set up a test repo if it helps.

[2021-04-14 19:30] olup commented on #114
Sorry I meant in `.esbuild/.build` but it looks like you don't have anything. Maybe a yarn thing ? Anyway, I'll try to reproduce on my end and will be glad for a test respo if I can't.

[2021-04-14 19:41] arpadgabor commented on #114
Also tested with yarn (1.22.10) and still no file. Similar output:

[code]

Here's [my testing repo](https://github.com/arpadgabor/serverless-esbuild-test).

[2021-04-14 19:47] olup commented on #114
Great, thx a lot.

@floydspace btw, I think esbuild's exclude option should also be considered when pulling externals peer deps no ? It is for externals first layer, but not when getting peer deps, but the need to exclude some of them has surfaced a few times recently. What do you think ? In this case it would totally help.

[2021-04-14 20:11] olup commented on #114
@arpadgabor weird - I am packaging your test repo without error when using npm. I am getting an error with yarn but i'd say it's related of the frozen lockfile and some libs without version number, but i'll dig...

[2021-04-14 20:21] arpadgabor commented on #114
Cloned my repo in another folder and tried again. I'm still getting the error even after removing both node_modules and package-lock, and trying with npm `7.9.0` and node `14.16.1`. Weird..

[2021-04-14 20:23] olup commented on #114
@arpadgabor note that I made a PR yesterday to NOT auto bundle the OPTIONAL dependencies of the external (branch fix.peer-deps). I just tryed your test repo with it, and it seems to work even better. Could you try and deploy your project with it ?

just `yarn install https://github.com/floydspace/serverless-esbuild.git#fix/peer-deps`

[2021-04-14 20:51] arpadgabor commented on #114
No luck.. this is very weird, the package is in present `node_modules`.
[code]
[code]

[2021-04-14 20:53] olup commented on #114
oh sorry of course, it needs deps install and building in the node modules - you cannot try it just like that

[2021-04-14 20:56] arpadgabor commented on #114
Yep, now it's working perfectly!

[code]

[2021-04-14 21:10] arpadgabor commented on #114
@olup After a closer inspection (I only packaged it earlier, deployed now), it seems like it missed (at least) a package (`ms`) used by knex. Here's the error from CloudWatch.

[code]

[2021-04-14 21:24] olup commented on #114
This is weird. ms is a dependency of a dependency of an external, it should be added to the node modules. Thanks for reporting.

[2021-04-14 21:26] arpadgabor commented on #114
Replying here in case you haven't noticed the edit, `pg` is actually not included at all, only `pg-connection-string`.

[2021-04-14 21:29] olup commented on #114
It's a bug in the individual packaging logic. This doesn't happen when doing global packaging. Will fix asap.

[2021-04-14 21:31] arpadgabor commented on #114
Offtopic but, thanks for all the help and for all of the fast replies! Going offline as it's midnight, will report back tomorrow if there are any updates.

[2021-04-14 21:34] olup commented on #114
Interesting case here... I don't know why ms is not here, but pg is missing because it is not actually required anywhere in the js bundle, as it is "magically" resolved by knex. In individual packaging, we bundle only libs that are actually required in the code and the one they need - but that doesn't take into account optional peer dependencies...

[2021-04-15 07:52] arpadgabor commented on #114
Okay so after importing `pg` explicitly, it's now working correctly.

[2021-04-15 21:35] #114 closed

[2021-04-16 17:16] gusfune commented on #103
Hi, we are using a monorepo and the same issue is happening with us. In one function that we use `import Shopify from "shopify-api-node"` we get an error:

[code]

My `serverless.yml` for this project has this config that might be relevant:
[code]

In the root level the `package.json` is:
[code]

and on `lerna.json`:
[code]

I am not using Yarn Workspaces as this was already proven to not help wit

[2021-04-16 19:44] olup commented on #103
HEy ! Thanks for reporting ! I'd be happy to help you out on this one and unearth bug on our end. However this doe not seem an easy setup to reproduce. Would you be open to share you repo ? Or a test one that shows the problem ?

Cheers !

[2021-04-17 10:17] gusfune commented on #103
Hi @olup this can be tricky because of our services being tightly attached to Hasura. But hopefully, you'll be able to find something with the downsized version. Here: https://github.com/gusfune/downsize
Let me know if you want me to run any specific tests locally.

[2021-04-17 19:15] olup commented on #103
@gusfune a bit of context - if I understand correctly you have this error when trying to run your project in a local "serverless-offline" environment ?

[2021-04-18 09:59] gusfune commented on #103
Correct @olup it happens on serverless-offline, when I try to call the request I put as example on the README.md

[2021-04-18 19:08] cfraz89 commented on #109
Also having this issue. Similar config with serverless-esbuild shows mapped traces, but upon swapping to esbuild, sourcemaps don't seem to work.

[2021-04-19 08:21] exoego opened #115 "Unable to pass option to npm install"
Hello.

On NPM v7+, my package.json requires `npm install  --legacy-peer-deps` command to be executed, instead of plain `npm install`.
However, it seems that serverless-esbuild currently does not support passing options to `npm install`:
https://github.com/floydspace/serverless-esbuild/blob/753e4aede6e826adc77cf82847520f1f84f9bef8/src/packagers/npm.ts#L104-L109

It would be helpful if there is an

[2021-04-19 09:55] floydspace commented on #115
hi @exoego, thank you for the issue and PR. it seems like a nice to have feature

[2021-04-20 11:27] taschmidt opened #117 "Plugin breaks with serverless 2.36.0"
After upgrading serverless to the just-released version 2.36.0, started receiving the following error:
[code]

The problem appears to be dependence on the `serverless.config.servicePath` prop here:
https://github.com/floydspace/serverless-esbuild/blob/753e4aede6e826adc77cf82847520f1f84f9bef8/src/index.ts#L75

This appears to have been renamed in 2.36.0:
https://github.com/serverless/serverless/rel

[2021-04-20 12:40] olup commented on #117
Thx a lot for reporting !

[2021-04-20 21:27] #117 closed

[2021-04-21 13:16] taschmidt opened #120 "1.10.3 breaks "sls invoke local""
Upgraded to 1.10.3 to fix #117 which now works with serverless >= 2.36.0. However, it appears to have broken `invoke local`. I get a "cannot find module" error and it appears to be looking in `src/...` rather than `.esbuild/.build/src/...`:

[code]

[2021-04-21 14:21] taschmidt commented on #120
This could be an issue with core serverless >= 2.36.0. I encountered the same error in a different project that doesn't even use esbuild (webpack).

[2021-04-25 23:01] taschmidt opened #121 "How to create a "metafile"?"
I tried adding `metafile: meta.json` but got an error from esbuild that metafile must be a boolean. So I changed it to `metafile: true`. The build ran successfully but I was never able to find any output. Has anyone managed to analyze their esbuild bundle sizes?

[2021-05-02 09:42] exoego commented on #115
FYI: I have built on this branch and confirmed the npm error gone.

[2021-05-02 20:00] anthony-zhou commented on #98
I've been experiencing the same problem of exponential growth in memory usage.

As far as I can tell, `rebuild` seems to have better memory usage results than calling `build` every time.

With the changes in my PR, memory usage seems to cap out around 1 GB (for my current codebase), whereas it used to increase exponentially until crashing.

Let me know if the PR #123 solves your problem @olup or @

[2021-05-05 19:49] floydspace commented on #120
hi @taschmidt, thank you for the issue, we've merged the fix. If you have a chance could you please check if it works for you?

[2021-05-05 19:49] #120 closed

[2021-05-05 20:31] floydspace commented on #121
hi @taschmidt, I checked the issue. As long as we are using esbuild's JavaScript API (not CLI), `metafile` option behaves a bit different, instead of defining a metafile name it receives a boolean value (according to `esbuild` source code, unfortunately it's not documented), and if the value is `true` the metadata is returned in the build result as JS object, so you can find your meta in the `resu

[2021-05-06 11:32] bkniffler opened #124 "Stuck at `moveArtifactsToPackage` during package cmd and `Successfully published` on deploy"
I'm using serverless 2.39.0, also tried 2.38.0. Both package and deploy commands get stuck at the end and fail to exit the process without any clear error. Outputs are below and are with verbose+debug enabled.

Tried different configs, but it keeps on hanging on that moveToArtifactsToPackage step. Deploying still does work though, but the process will need to be cancelled with ctrl+c.

If I exchan

[2021-05-06 11:38] olup commented on #124
Hi ! Could you post your complete `serverless.yml` in order to get more context ?

[2021-05-06 12:32] olup commented on #124
Actually I just updated to lastest `serverless-esbuild` and my deploys are also hanging. Will try to debug.

[2021-05-06 12:36] olup commented on #124
Bug **not** happening in 1.10.4

[2021-05-06 13:21] olup commented on #124
So It might be that we need to actively call `result.rebuild.dispose()` as we are now using incremental. Also, incremental build are only needed on offline mode (not with invoke or build or package)

[2021-05-06 14:29] bkniffler commented on #124
Hey @olup, thanks for getting on this so quickly! I've downgraded to `1.10.4` and it works great :)

If there is anything you'd like me to attach, let me know, but looks like you found the cause already.

[2021-05-06 14:31] olup commented on #124
yeah, I think so, thanks  @bkniffler a lot for raising the error early, will revert once I have time to implement the fix

[2021-05-06 14:46] taschmidt commented on #121
Yeah sorry, I did do some digging in esbuild and saw that it appears you can only do it via code. It might be handy to check here if metafile is true and, if so, dump it out to meta.json or something.

[2021-05-06 14:49] taschmidt commented on #120
Yep, looks like it's fixed. Thanks!!

[2021-05-07 04:22] Mihailoff commented on #109
If you download the deployment package directly from AWS Lambda, there is not `.map` file.

[2021-05-07 19:22] Mihailoff opened #126 "Use provider.runtime to guess esbuild target"
A nice to have feature request.

Docs say

Plugin could use `provider.runtime` to change the target accordingly

In my case I ended up with
[code]

And thank you for the super fast compiler!

[2021-05-07 20:10] floydspace commented on #126
hi @Mihailoff, thanks for the request, it makes sense.
And all the kudos for the compiler goes to @evanw

[2021-05-13 15:06] danielhorne opened #128 "Name of lambda function causing issue when esbuild is packaging files"
Hi Team

Firstly this is an awesome plugin.

This is an issue/feature request

When I try package my serverless project I get the following issue  _Error: ENOENT: no such file or directory, open 'C:\Users\****\repos\databus-serverless\.esbuild\.serverless\r-#{AWS::AccountId}-npr-ds-databus-hello.zip'_

The issue comes about because I am trying to add a prefix to my lambda name using the serverless

[2021-05-14 02:31] mattisdada commented on #98
That PR partially fixed the issue for me (it still uses a lot of memory, but not as much), but `serverless-offline` still consumes a lot of memory unless `allowCache` is enabled and eventually exhausts itself (and dies) - this may be an issue with our particular code base though. Not sure if others are experiencing this particular pain point.

The problem of enabling `allowCache` is that when ESBu

[2021-05-14 05:31] olup commented on #98
Indeed, I put the link somewhere, but the memory leak in serverless offline is well known and affecting everyone, and the relation with the caching option is discussed around, but the accepted answer seems to be "that's how it is". So official way to fix this.

A workaround in our codebase would be a very good idea, as it is a real pain, only we should probably put it behind some options and disab

[2021-05-22 16:54] #128 closed

[2021-05-22 16:59] floydspace commented on #128
Hi @danielhorne , could you please check, does the fix work for you. I decided not to add a new option, but simply do not use a custom lambda name if it is defined.

[2021-05-24 01:25] mattisdada commented on #98
Before a more official solution is in place, this is what we ended up using:

[code]

[code]

By utilising the esbuild plugin system we just did the clearing there instead of in the `serverless-esbuild` side. We now have a watch that can run for a long time, that gets updated whenever we change code and our memory usage remains relatively static. Would strongly recommend for anyone running into an

[2021-05-24 04:18] olup commented on #98
Brilliant ! And it's much better than having inside the lib, indeed.
But it such a central pb with serverless offline we should definitely link this in the doc!

[2021-05-24 05:23] mattisdada commented on #98
Only small problem is the esbuild plugins don't get any serverless context, I'll continue playing around with this and see if I find any issues regarding that

[2021-05-24 12:28] danielhorne commented on #128
Hi @floydspace working perfectly, thanks

[2021-05-25 05:09] mattisdada commented on #126
Agreed this is a nice to have feature

One FYI, the `target` can actually be the Node version. Examples:
[code]

[code]

Source: https://esbuild.github.io/api/#target

That way you don't need to worry about which es version is compatible with which node version, `esbuild` already has that specific information to make sure the right features are used.

[2021-05-28 08:21] philiiiiiipp opened #133 "Allow resolving of serverless variables within the config"
Hey, really awesome initiative, got our build process from ~15 minutes to ~30 seconds!

I noticed one issue with the resolving of the config variables when using e.g. the `${file` import. Those are not resolved during the constructor call yet, e.g.

[code]

will show up as
[code]

rather than

[code]

I put up a PR #132  moving the config generation outside of the constructor which fixes that beha

[2021-05-28 08:31] floydspace commented on #133
Hey, @philiiiiiipp, thank you for using it. I'm really happy that it's useful to people, and even happier when they contribute.

[2021-05-28 08:33] floydspace commented on #133
Fixed in #132

[2021-05-28 08:33] #133 closed

[2021-05-28 21:34] #121 closed

[2021-05-28 21:38] floydspace commented on #121
Hey @taschmidt , if it's still relevant for you, I completed the fix that will save metafile alongside the main bundle.

[2021-05-29 10:56] #126 closed

[2021-05-30 02:19] taschmidt commented on #121
Awesome! Thanks so much!

[2021-06-07 09:54] philiiiiiipp commented on #103
Wondering if this is related, but I have uncovered some odd behaviour when bundling external dependencies

I am wondering if
https://github.com/floydspace/serverless-esbuild/blob/master/src/pack-externals.ts#L78

should not actually be
[code]

It seems odd to me, that it would use the package.json of `serverless-esbuild` here instead of the projects `package.json`. In our case this resulted in dev

[2021-06-07 10:35] philiiiiiipp opened #135 "External devDependencies are included into the bundle"
I have uncovered some odd behaviour when bundling external dependencies. In our case it would always include dev dependencies into the build. I have dug a bit and found:

https://github.com/floydspace/serverless-esbuild/blob/master/src/pack-externals.ts#L78

which in our case would use the package.json of serverless-esbuild instead of the projects package.json. I am wondering if this should not ac

[2021-06-07 14:34] floydspace commented on #135
Hi @philiiiiiipp . as you could see the `packageJsonPath` is resolved as searching up from the current working directory, [see](https://github.com/floydspace/serverless-esbuild/blob/2fc9bb4a6a8f56b0885656bfd6fbb41656d47ac8/src/pack-externals.ts#L204), so it should not resolve the serverless-esbuild package.json unless your working directory is inside your node_modules serverless-esbuild folder. I

[2021-06-10 11:32] vamche opened #136 "Include node_modules when externals are populated via plugins (for eg., esbuild-node-externals)"
Kudos to the team which is behind this plugin and the packaging speeds it comes with! 🙇

I have a question (feature-request?) for you. When the below code is packaged, the final deployment does not include the externals (node modules). I think it is because the externals are populated by a plugin in this case `esbuild-node-externals`.

https://github.com/vamche/sls-esbuild-node-externals/blob/4cc8

[2021-06-10 11:42] vamche commented on #136
FYI, `serverless-webpack` does this with `includeModules` config and `webpack-node-externals` plugin.

I am happy to help/contribute to code if this feature can be introduced (if not already available). I would need some direction though. :)

[2021-06-10 12:20] floydspace commented on #136
Hi @vamche , thank you for the issue and the example. I cloned your repo and indeed the `esbuild-node-externals` plugin is excluding your dependencies from the bundle, but `serverless-esbuild` assumes that they are bundled.

I think it makes sense to implement a special case with the plugin, so if it is used we just get the list of modules determined by the plugin and put them to `external` to hav

[2021-06-10 12:37] vamche commented on #136
Thank you @floydspace, I will give it a shot.

[2021-06-11 11:04] jcandrade opened #137 "Can't deploy both typescript and python functions"
I'm trying to deploy 2 functions: one in typescript and one in python.
I didn't find anything on the documentation of how to disable/enable per function, so I wonder if there's a configuration for that. Also, I think python functions should be automatically ignored.

If there's no such feature, I can create a PR for either toggling the plugin per function or for ignoring functions with python set

[2021-06-11 16:59] clawsl opened #140 "Odd file duplication in zip artifact after version 1.10.0 with individual packaging"
Hi,

First of all, thank you for the great plugin. It speeds up deployments for me a lot.

Recently I ran into an issue odd issue after trying to upgrade to a later version of it. What happens it the following:

- Up to 1.10.0 the zip files in the .serverless folder are fine and just contain a single bundled file for each function as expected.
_**Working zip example:**_
![working_zip](https://user

[2021-06-11 21:34] clawsl commented on #140
I traced the issue down to src/pack.ts in version 1.10.1

For debugging I changed the part handling individual files slightly
[code]

[2021-06-11 21:52] clawsl commented on #140
This results in the following output for my example function:
[code]

The separated last 3 excl test lines are related to the problem and generate the duplicate file in the end after filtering;
I tested which file contains the bundled version in the end and found out that removing the entry `"localPath":"__only_sa-831-nissan-pkg-api-dev-pkg-auth/pkg_auth.js" ...` fixed the issue for me.

This give

[2021-06-12 08:28] floydspace commented on #137
Hi @jcandrade, thank you for the issue and PR.
Of course, it does not make sense to use the plugin with python functions. I'd like to know how do you pack the python lambda eventually? normally it should be packed as it is, not just skipped. Maybe it's good idea to have an option toggling the plugin per function, but we don't have such. The plugin is intended to be used only with nodejs runtimes.

[2021-06-12 08:34] jcandrade commented on #137
Hey @floydspace, thanks for the quick response.
Actually, after skipping the python lambda like I did on the PR, it simply packages the function as it is, which is what we expect.
To be honest, I didn’t check the serverless-webpack plugin because I already used your plugin in other ts projects and it fits perfectly ;)

[2021-06-12 08:39] floydspace commented on #137
Thanks, @jcandrade , I will test your PR with an example, the code looks good to me. Appreciate for contribution 🙏

[2021-06-12 08:54] jcandrade commented on #137
Thank you! Let me know if I can help you on testing or on creating a sample code.

[2021-06-15 11:13] vamche opened #144 "Module dependencies are missing for the externals"
### Module dependencies are missing for the externals in the final package.

I would try to illustrate the issue with a sample repo. When I try to build the below repo, I see that the final package doesn't contain all the required dependencies.
Repo: https://github.com/vamche/sls-esbuild-node-externals/tree/missing-module-dependecies-for-externals
Branch: `missing-module-dependecies-for-externals`

[2021-06-15 11:33] #136 closed

[2021-06-15 11:46] floydspace commented on #144
Hi @vamche thanks for the new issue, I checked out your branch and ran `npx sls package` (it prepares final artifacts)
And I see that everything is packaged as you expect.
![image](https://user-images.githubusercontent.com/5180700/122046909-ca473f00-cddf-11eb-8732-cd91efaebd67.png)
so I couldn't reproduce on my `node14`, `npm6` environment
Could you provide details about your environment? I suppos

[2021-06-15 11:58] floydspace commented on #144
Indeed I checked in `node16`, `npm7` environment and it behaves as you described. I would appreciate if you make a fix, but keep in mind compatibility with older environments. Blindly passing depth 5 could break `npm6`, so you have to find the way it's working in both envs or implemented special case for `npm7` as you described. thank you

[2021-06-15 14:24] vamche commented on #144
@floydspace Thanks for testing. I have tested on my side, I confirm that it's working with `npm6`. The issue is with `npm7` only because of the change in output of `npm ls -prod -json`.

As you suggested, I will try to find a way which is backward compatible.

[2021-06-15 17:27] ffxsam opened #145 "Any way to deploy source maps to Sentry, and not package them in the serverless ZIP files?"
Hi, I just started using this plugin today, and I'm super impressed! With serverless-webpack, my API (37 Lambda functions) took 12 minutes to build & deploy. Now, with serverless-esbuild, it takes about 2 minutes. 😏

The only thing missing for me, is that I was relying on the [Sentry Webpack plugin](https://github.com/getsentry/sentry-webpack-plugin) to automatically push my source maps to Sentry.

[2021-06-15 17:38] olup commented on #145
Maybe more of a esbuild plugin to build ?

[2021-06-15 17:50] ffxsam commented on #145
@olup I was just looking into this, but since plugins are experimental, I couldn't find any documentation.

I looked through the source code a bit, and I didn't see any way for a plugin to see which files were saved as a result of the build process.

Correction: looks like if I set the `write` option to `false`, then my plugin gets a full array of files with their contents as `Uint8Array` objects.

[2021-06-15 17:54] olup commented on #145
Thing is, packaging the js file is a bit involved and is partly the reason this lib exists. The code has been refined to cover many edge case. I wonder if there is a way to have an esbuild plugin that can work alongside normal operations of this lib.

[2021-06-15 18:45] olup commented on #145
Maybe something around https://esbuild.github.io/plugins/#resolve-callbacks ? There is quite a bit of doc to fiddle around.

[2021-06-15 18:50] ffxsam commented on #145
I've been working on it, and making good progress. So far, this will save out source maps to their own folder. The last part is to just have this execute `sentry-cli` to upload them.

[code]

[2021-06-15 18:56] olup commented on #145
Or you could leave the source map where they are and feed the path to sentry cli. In any case, you should open a repo. I am sure many teams would be happy to have such a plugin for esbuild (in a serverless-esbuild project or other). Should we close this issue as it is not specifically linked to serverless-esbuild ?

[2021-06-15 19:08] ffxsam commented on #145
Leaving the source maps where they're placed by esbuild would include them in the ZIP file that goes up to AWS, and that's not necessary.

I'll absolutely create a public repo for this once it's done!

[2021-06-15 20:26] ffxsam opened #146 "esbuild plugin onEnd is called for every Lambda function"
I have two functions in a test serverless config:

[code]

And I have this in my esbuild plugin code:
[code]

When I deploy, I see this output from my plugin:

[code]

From the name `onEnd`, I'd assume this would just be executed once when the entire build process is done, with a complete list of files. Is there some way to achieve this?

[2021-06-16 11:02] vamche commented on #96
@olup Do you want to reconsider https://github.com/nfriedly/node-bestzip, I see that the library/repo happened to have some activity in the last 3 months.

zip times seems to be a concern, we have ~60 functions and zipping takes >1000 seconds for many of them on GitLab CI.

![Screenshot 2021-06-16 at 4 30 41 PM](https://user-images.githubusercontent.com/9653338/122207995-60eb2d00-cec0-11eb-9882-37

[2021-06-16 11:33] olup commented on #96
Wow, yeah, I guess this *is* a concern ! I am not against changing the zip lib, quite the opposite (and I am not the one to make the call anyway), and a bit of activity on the lib is indeed reassuring. But that means we'll have to manage the typings ourselves, which I would argue against. Maybe this is a feeble con for many pros. Maybe we should try `bestzip` and benchmark performances to see how

[2021-06-16 11:38] vamche commented on #96
@olup Thank you, I will try to do some benchmarking, archiver vs bestzip.

@floydspace What do you think about `bestzip`?

[2021-06-17 09:22] vamche commented on #96
So, I updated the plugin to use `bestzip` and ran some tests.  The results are impressive, `bestzip` is definitely faster than `archiver` and I think it's better to migrate to `bestzip`. Changes: https://github.com/floydspace/serverless-esbuild/pull/148

### On GitLab CI (Shared runner w/ 1vCPU, 4GB RAM)
**w/ `archiver` (maximum ~1240s)**
![Screenshot 2021-06-17 at 1 59 51 PM](https://user-images.

[2021-06-17 11:01] floydspace commented on #96
@vamche I'm very welcome for any improvements. Thanks for benchmarking it. Will check the PR.

[2021-06-17 11:21] olup commented on #96
This is pretty good perfs !

[2021-06-17 11:58] #96 closed

[2021-06-23 23:08] kabo opened #150 "Regression of #110, package.patterns are ignored"
It seems #110 is back.

serverless.yml:

[code]

Running `serverless package` with serverless-esbuild v1.10.6 works as expected.

[code]

But with v1.10.7 and onwards it's no longer working, the extra file is missing in the zip.

[code]

[2021-06-23 23:18] kabo commented on #150
Ah, wait, it's not that simple. I took a look at the commit between 1.10.6 and 1.10.7. The issue is here: https://github.com/floydspace/serverless-esbuild/commit/e504e48220ea910b5e8fd55aef58166e8b14821b#diff-c0b27c44c8eee1df38854f691661101b9de7cfcf5b832817bd6012983d3aa9beR110

In my serverless.yml:

[code]

I then run `yarn serverless package -s prod`. In 1.10.6 the zip had "prod" in the filename,

[2021-06-23 23:25] kabo commented on #150
No, wait, the above comment only makes version 1.10.7 - 1.13.1 work. Version 1.14.0 doesn't include the extra file.

[2021-06-25 11:55] samrith-s opened #152 "Option to skip packaging externals"
Hey,

I have these options in my SLS config:
[code]
However, once it bundles, it runs this:
[code]

I want to completely skip it as these packages are opt-in in NestJS. Is there any way to achieve it? I see from the code that this plugin packages externals. Is there any way to completely skip them?

[2021-06-28 05:09] vamche commented on #152
Hello @samrith-s

You can list modules in the `external` section to not include them in the final artifact.

[2021-06-28 09:34] samrith-s commented on #152
Hey @vamche ,

Thanks for your response. Afaik, I am already doing that. All the packages are listed in `custom.esbuild.external` and `package.exclude`, yet it packages them.

[2021-06-28 09:52] vamche commented on #152
@samrith-s I was talking about the `serverless-esbuild` config. Could you please list them in `custom.esbuild.external` and try?

[code]

[2021-06-28 10:36] olup commented on #88
@wimpheling did @floydspace's recommendation worked for you ? Can we close this ?

[2021-06-28 10:38] olup commented on #109
@ipauler @cfraz89 did the proposed solution worked for you ? @floydspace if this is the way to embed the source map we should maybe add this to the doc ?

[2021-06-28 10:45] olup commented on #135
@philiiiiiipp do you still have your issue ? Is there a setup that we could reproduce ? Or should we close this ?

[2021-06-28 10:50] olup commented on #145
Hi there, can we close this as it will be handles by some esbuild plugin ?

[2021-06-28 13:58] ffxsam commented on #145
Done.

[2021-06-28 18:46] olup commented on #140
Hey, thank you very much for reporting an issue, and sorry for the delay in reviewing it. I can't seem to be able to reproduce it, would you have a minimal repository that would show us the bug ? There is indeed a reason for the second condition, so I'd like to experiment the bug myself to understand what in your setup exactly is causing it.

[2021-06-28 18:53] olup commented on #146
Hi ! Esbuild is run on each function, so your esbuild plugin is run every time. I am not sure of what you are trying to achieve in your `onEnd` hook, but it might be better suited for a serverless plugin more than an esbuild one. Serverless offers many hooks for every steps of the bundling / packaging / deploying process where you can run some plugin's code - so you can trigger code after every fu

[2021-06-28 19:06] olup commented on #150
I can reproduce this if like you I am adding the pattern option on an individual function. However when I set the pattern on the global packaging options it works (and include the file on every function). Could you confirm that on your end ?

[2021-06-29 15:08] ffxsam commented on #146
@olup Thanks!

[2021-06-29 15:08] #146 closed

[2021-06-30 03:23] kabo commented on #150
Yeah, I can confirm that works. But it's pretty useless when you have one lambda that requires one big file, and you want to keep all the other lambdas in the service that don't need that file as small as possible.

[2021-06-30 05:11] olup commented on #150
Yeah, agreed. But now I can look for a fix ;-)

[2021-06-30 14:30] ipauler commented on #109
@olup i'm using `sourcemap: true` and `source-map-support` npm package which is doing everything that i need
so i think issue can be closed
thanks all

[2021-06-30 16:32] #109 closed

[2021-06-30 19:15] olup commented on #150
I am working on the bug. Making a note here:

The regression seems to come from #148 - the move to Bestzip. Bestzip works in a different way than what we had previously - most importantly, it does not allow to zip a file from a path to another path inside the zip. the individual patterns or file include relied on the creating of a temporary folder holding the desired files so that each function on

[2021-07-01 04:39] kabo commented on #150
dotfiles being ignored by wildcards is pretty standard, e.g. if you do `cp folderA/* folderB/` it won't include files that start with `.`.

bestzip is sounding more like mediocrezip :P

But yeah, some extra steps to copy files to where they need to be sounds like a reasonable solution to me. And shouldn't incur any performance loss if there are no extra individual files to package right?

[2021-07-01 05:43] olup commented on #150
I am also not a fan of bestzip. It was repeatedly proposed as it will use native zip call when available, and small benchmarks has been shown to reduce archiving time by half sometimes. I can't argue with that, even tho the lib is not that well maintained - or so I feel.

But then the path structure limitation comes from this native feature I believe, as on some system the command might not let yo

[2021-07-01 07:48] vamche commented on #150
So, there are two ways, how `bestzip` can zip, `nativeZip` and `nodeZip`. If we can confirm the path structure issue limitation is because of `nativeZip`, we can provide an option in YAML to choose an approach like below, internally the [chosen approach will be used for zipping](https://github.com/nfriedly/node-bestzip/blob/3452d52ff4ed10cce6496a03bd7834de2bf61ba2/lib/bestzip.js#L169-L171).

[code

[2021-07-01 21:23] kabo commented on #150
Ah, ok, the use-cases I have is not duplicating node_modules, in one case I have a certificate that is needed by a lambda, in another case it's a pretty big binary that is needed by one lambda. Just one file in both cases.

[2021-07-01 21:54] olup commented on #150
Making this optional is not very useful, and complicated for the end-user. I feel we have to choose one path and do it well. If we decide to support the native option, then duplication is needed. But the performance overhead might not be too bad, I'll make a PR and we can benchmark.

[2021-07-01 21:57] olup commented on #150
Indeed. But to create a proper folder structure of you package we then have to duplicate every files of it in a specific temporary folder before zipping. That includes the  whole node_nodules - albeit only the externals you require for each function, which is hopefully not too much.

[2021-07-02 16:48] Almaju opened #157 "Missing wrapper function"
Hello,

When I do `sls deploy`, the bundle is correctly built however the handler is set to `s_function.handler` for a function located in let's say `src/function.js`. It works if I manually rename it to `src/function.handler` in the AWS console but it gets overwritten after every deploy.

I can reproduce that with any of the esbuild starter I have found. Even with https://github.com/floydspace/se

[2021-07-03 18:22] gabsn opened #158 "serverless-esbuild should expose lifecycle events to be hookable"
After looking for `lifecycleEvents` in the source code, I didn't find any hookable events I could use to customize the `serverless-esbuild` plugin behavior.

However it is common best practice to expose such events when you write a plugin (See [here](https://www.serverless.com/blog/advanced-plugin-development-extending-the-core-lifecycle)).

For example, `serverless-offline` exposes `init`, `ready

[2021-07-05 11:57] floydspace commented on #158
Hi @gabsn, I have in mind to implement this similar way like `serverless-webpack` does, but cannot currently focus on it. I would appreciate your effort if you're willing to contribute.

[2021-07-06 09:50] andreasgrimm opened #160 ""npm install failed with code 1" when Packing external modules"
Before using serverless-esbuild the installation of private packages from a private GitHub npm registry was possible without any errors.

Only when trying to use `serverless-esbuild@1.16.0` (while using `serverless@2.50.0`) with an external package that resides in a private npm registry the step `Packing external modules: @myregistry/mymodule` results in

[code]

Any clue on how to specify which e

[2021-07-07 03:25] tonyt-adept opened #161 "findProjectRoot trickles up out of Project Files"
Excuse my ignorance, as this could very well be a problem with my use of the package - but I'm encountering an issue when trying to bundle my Externals with `serverless-esbuild`. Also apologies for the long winded explanation - the examples kept cropping up as I went...

Relevant scope of `serverless.ts`:
[code]

The error I receive when running `serverless offline` or `serverless deploy` is as fo

[2021-07-07 17:43] andreasgrimm commented on #160
Turned out the .npmrc in use was missing some information.

[2021-07-07 17:43] #160 closed

[2021-07-07 18:07] tonyt-adept commented on #161
FWIW I've been able to confirm the issue locally adding some Jest tests to the serverless-esbuild project, and I've introduced a fix as well. Don't seem able to push my branch up though - but that's probably because I'm an Open Source newb.

Let me know if you're interested in it!

[2021-07-07 18:27] olup commented on #161
Hey thanks for the fix ! To propose a PR you have first to clone the repo, make a branch, commit, and then from the GitHub UI you can propose your branch as a PR onto the original repository.

[2021-07-07 19:00] tonyt-adept commented on #161
Thanks for the info @olup!

Here she blows: https://github.com/floydspace/serverless-esbuild/pull/162

Some comments in there regarding the "fluff" I introduced with my singular Jest test.. let me know how you guys would like to proceed!

[2021-07-08 12:24] #161 closed

[2021-07-12 09:25] vamche commented on #152
@samrith-s Did you get a chance to try with `custom.esbuild.external`?

[2021-07-14 22:28] yemi commented on #157
For some reason, this seems to happen only when I have `org` and `app` specified in `serverless.yml`, if I remove them, the `"Handler"` in the generated `cloudformation-template-update-stack.json` gets set to `myfunction.handler`.

The only difference I can see in the logs is this:
[code]

vs.

[code]

It seems that by "Installing dependencies for custom CloudFormation resources" it also somehow a

[2021-07-23 09:02] andreasgrimm opened #166 "Error: spawn E2BIG"
If externals get over a certain number, on macOS 11.5 I'm getting this error when packaging:

[code]

Same error using node version `16.5.0`.

On a Linux distro it's running fine though.

Any help would be appreciated.

[2021-07-23 12:17] gabsn commented on #158
Sorry finally I decided to go with `serverless-scriptable-plugin` and:
[code]

Then in my build command I can use esbuild with its native config.

[2021-07-26 12:01] andreasgrimm commented on #166
https://github.com/serverless-heaven/serverless-webpack/pull/813/files

`serverless-webpack` moved from `bestzip` to `nativeZip, nodeZip` because of the same error happing there.
Are you able to fix that in the same way?
Or would you be open to accept a PR?

[2021-07-28 11:32] vamche commented on #166
I'd like to suggest a workaround until the root cause is investigated/fixed. Since the issue seems to be because of the large number of files (externals), is deleting some of the unecessary files in `node_modules` is an option for you? You can utilize a tool like `clean-modules` or `node-prune` to clean up before zipping/packaging.

You can achieve this with `esbuild.packagerOptions.scripts`, here

[2021-07-29 22:15] mattjennings commented on #166
A coworker and I ran into this on the same monorepo project. Packaging worked for me, but didn't for them. Same node, yarn, npm versions. I'm on macOS 11.4, they're on macOS 10.15.7.

I ended up making a patch for [patch-package](https://www.npmjs.com/package/patch-package) that changed the zip method to nodeZip. We tried nativeZip but it threw the same error.

Add this under `patches/serverless-e

[2021-08-03 21:11] bauer01 opened #168 "feature: pass serverless instance to plugins config"
Hi,
it would be nice to pass the whole serverless instance as we need to configure esbuild plugins according to our serverless settings.

Something like this maybe?

[code]

and

[code]

What do you think?

[2021-08-09 06:09] vamche commented on #152
Closing the issue since there is no activity anymore.

[2021-08-09 06:09] #152 closed

[2021-08-11 01:53] ftschopp opened #169 "Can't bundle *.graphql files"
Hello!
First of all i have to say that i am not sure if it's a bug really. Probably i missing something of configuration. The problem occurs when i build a project with `apollo-server-lambda` and in this project includes some `.graphql` files. Theses files aren't included in .build folder. So the error is the following:
[code]
these `.graphql` isn't in that build folder.
How can i bundle these kin

[2021-08-11 04:06] floydspace commented on #169
Hi @ftschopp , you can use [`esbuild`'s loader](https://esbuild.github.io/api/#loader)
so your `serverless.yml` would look like:
[code]
this will bundle your `.graphql` file in the output as text

Important note: if you're using .graphql imports, it would not work, cause `esbuild` does not have appropriate instructions. in this case you have to implement some `esbuild` plugin, but it is out of the

[2021-08-13 02:20] ftschopp commented on #169
@floydspace thanks for your answer! 👍🏻

[2021-08-13 02:20] #169 closed

[2021-08-17 06:14] samchungy opened #170 "Package Individually + External Not Working"
When you set the plugin's Esbuild External functionality + Serverless' Package Individually capability I would expect that anything in External will get copied to each of the individually packaged zips however the individual function zips do not contain the external package.

[code]

[2021-08-17 07:45] samchungy commented on #170
Okay I found out what was wrong, my function was not directly referring to it in the code and it was being excluded as a result. Is this the default behaviour?

[2021-08-17 09:13] olup commented on #170
Yes, if I remember correctly we analyze what modules is your bundle
importing and packaging only that. If you want to include more things you
should be able to do so by using the pattern param.

Le mar. 17 août 2021 à 09:45, Sam Chung ***@***.***> a écrit :

[2021-08-18 00:48] #170 closed

[2021-09-04 12:56] floydspace commented on #168
Hi @bauer01, thank you for the feature request, yes it does make sense on certain occasions. so I implemented it.
Could you please check it in version 1.17.0
And apologize for the slow response.

[2021-09-04 12:56] #168 closed

[2021-09-04 13:00] floydspace commented on #168
:tada: This issue has been resolved in version 1.17.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverless-esbuild/v/1.17.0)
- [GitHub release](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-04 15:44] floydspace commented on #166
Hey @andreasgrimm thanks for the issue, yes we're welcome to PRs. It would be good if provide a hint how to reproduce the issue. Unfortunately, I don't have such a big workload.

@mattjennings was the fix you made with `patch-package` good enough to resolve the issue?

[2021-09-04 16:30] #150 closed

[2021-09-04 16:48] mattjennings commented on #166
@floydspace yeah we haven't had any issues since using it

[2021-09-06 13:49] Steakeye commented on #145
I'm converting a webpack build over to ESBuild and I've come across this exact requirement; does anyone know if a plugin has been released to handle this?

[2021-09-06 15:54] floydspace commented on #145
hi @Steakeye, I don't this the plugin exists as npm package, you can try using the code snipped suggested by @ffxsam

[2021-09-13 10:36] vamche opened #181 "Exclude all node_mdoules from packaging with '*'"
I've created a PR to exclude all the node_modules from packaging using '*' and it's been in review for quite a long time.

@floydspace @olup Could you guys please review https://github.com/floydspace/serverless-esbuild/pull/167? I'm open to suggestions/changes in the approach.

PS: I've created this issue for more visibility

[2021-09-15 15:08] olup opened #184 "Building only a single function when using `sls deploy function` and `package individually`"
Just an idea that I am throwing here for a possible future implem.

When using https://www.serverless.com/framework/docs/providers/aws/cli-reference/deploy-function/ and the `individually` packaging option that would be pretty awesome to throw only a single function build - that would make for a very efficient and fast build-deploy cycle when building up a lambda.

[2021-09-16 07:06] olup commented on #184
Ok, it seems to be the case, already.

[2021-09-16 07:06] #184 closed

[2021-09-17 18:19] troyready opened #186 "Generated zip files always have new timestamps and force stack updates"
Every invocation of [bestzip](https://github.com/nfriedly/node-bestzip) generates a zip file with a different sha256 hash because of the contents' timestamps. Similar issue [exists for serverless-webpack as well](https://github.com/serverless-heaven/serverless-webpack/issues/881).

When Serverless is creating zips, it avoids this [by explicitly setting the files' timestamps to the epoch](https://g

[2021-09-17 18:21] troyready commented on #186
Some solutions that come to mind:
* Switch to a deterministic zip provider
  * serverless-webpack is likely going back to `archiver`
* Modify the files' timestamps before zipping them
  * Something like the javascript equivalent of `find . -exec touch -t 197001010000 {} +`

I'm partial to switching to `archiver`, but curious for your thoughts/preference.

[2021-09-17 18:49] olup commented on #186
Very interesting. I'd second going back to archiver, as I am no fan of bestzip.

However, as this was an improvement for some heavy duty use cases, it might be a good idea to follow the (still unmerged it seems) PR of serverless webpack, and add a `nativeZip` option to let user opt-in best zip.

[2021-09-17 20:27] floydspace commented on #186
Hey, @olup, I can't remember exactly what benefit we got from migrating to bestzip? are those improvements worth the issues we have currently? I'd also vote for reverting back to `archiver`.
This week I went through the [zip-it-and-ship-it](https://github.com/netlify/zip-it-and-ship-it) by Netlify, they also are using archiver.

[2021-09-17 20:38] olup commented on #186
The original issue should be here somewhere. Someone argued, with benchmarks, that it made a huge performance difference when zipping many many functions. My concerns with bestzip were low maintenance and no typings.

[2021-09-18 05:01] vamche commented on #181
@floydspace @olup ^

[2021-09-18 11:17] #186 closed

[2021-09-18 11:28] #181 closed

[2021-09-18 11:34] floydspace opened #189 "Need cover with unit tests"
I do not really feel comfortable without unit tests, especially when we getting more and more new contributions from the community, which is much appreciated.
So I'd like to cover sensitive functionality like packaging with tests.

[2021-09-19 17:41] floydspace commented on #166
Hey @andreasgrimm @mattjennings I think [this fix](https://github.com/floydspace/serverless-esbuild/pull/187) would close this issue. Feel free to reopen if you still encounter it

[2021-09-19 17:41] #166 closed

[2021-09-22 07:21] samchungy opened #195 "Serverless Offline path does not work with function level package pattern"
I am trying to run the following in a function in Serverless Offline

[code]
but I will receive a file not found error.

[code]

But the file will be not found because it looks like serverless-esbuild will output the file to __only-serverless-dev-start-server/functions/start-server/user-data.sh folder instead of src/functions/start-server/user-data.sh

It looks like the package version works fine

[2021-09-22 12:21] samchungy opened #196 "external behaviour"
## Description

The s3 client recently bundled an optional peer dep package called @aws-sdk/signature-v4-crt and I get the following error:
![image](https://user-images.githubusercontent.com/18017094/134340432-a4c9b809-9907-44ca-8f57-c0170acc3d66.png)

Going by the comments, I added the package to my `external` list. I do not have the plugin listed in my dependencies for package.json, however, the

[2021-09-23 07:28] bauer01 commented on #168
Thank you so much! @floydspace  👍

[2021-09-27 07:36] chriszirkel opened #199 "Question: support for Yarn v2 and Workspaces?"
Does this plugin support Yarn v2 as packager and the features like Workspaces as dependencies, Hoisting of shared dependencies to the project root, etc?

[2021-09-27 09:02] #196 closed

[2021-09-27 09:41] olup commented on #199
I had a quick poc the other day and it worked ok. Feel free to try. Yarn
workspaces work pretty well on V1.

Le lun. 27 sept. 2021 à 09:36, Chris ***@***.***> a écrit :

[2021-09-27 10:50] chriszirkel commented on #199
Did you try it with Yarn v2/berry? I wanted to switch from npm to Yarn just to figure out that serverles-webpack was still calling the old yarn v1 commands.

[2021-09-27 11:12] olup commented on #199
I did yes, with v2. But it was not a comprehensive test.

Le lun. 27 sept. 2021 à 12:50, Chris ***@***.***> a écrit :

[2021-09-28 08:04] simonc commented on #145
For anyone new to esbuild and finding this page, @ffxsam's code works but you need to specify `write: false` in the options for `args.outputFiles` to be present.

[code]

[2021-09-28 19:58] JoaquinFernandez opened #200 "Limit concurrency on esbuild packaging"
Hi,

For some use cases, where there is limited system memory available (i.e. GitHub Actions 7GB), esbuild can run out of memory and crash when building a big serverless project (i.e. 50+ lambdas). For those cases, and according to the esbuild developer, it is recommended to do batching:

- https://github.com/evanw/esbuild/issues/320

In order to do so, and if I am not mistaken, the serverless-esb

[2021-09-28 20:46] floydspace commented on #200
Hi @JoaquinFernandez thank you for the issue, I personally haven't seen such big workloads, but yes it makes sense. We can also use `p-map` which has a more simplified interface.
And yes we accept PRs, but sometimes they could hang long, due to lack of time to review and test. So go ahead if you wish.

[2021-09-29 00:43] samchungy commented on #189
I think if a comprehensive list of what needs to be covered (usecases/scenarios) is provided, it might make it easier for people to contribute to some unit tests?

As it stands I personally don't know what "packaging" should do exactly.

[2021-09-29 05:36] olup commented on #189
I think you are making two very good points. To help contributors
participate we could have a scenario list of typical situations that need
to be tested (I have a few in mind).

And then, a simple document explaining how this plugin works could be of
value too.

I wonder where this should live ? As MD in the repo ? In a GH wiki ?

Le mer. 29 sept. 2021 à 02:43, Sam Chung ***@***.***> a
écrit :

[2021-09-29 11:55] chrisui commented on #199
[This change from 5 days ago](https://github.com/floydspace/serverless-esbuild/commit/9d81dce7105af5ebb69d0dc42a383d0bcd8e1aa3) has broken our builds because with npm workspaces we only have a `project-lock.json` at the root.

Perhaps this path needs to be variable based on the packager configured.

[2021-09-29 13:43] olup commented on #199
@chrisui I think your problem would be better voiced in its own issue.

[2021-09-29 14:58] chrisui opened #202 "Recent change to package-lock.json path breaks npm workspaces"
[This change from 5 days ago](https://github.com/floydspace/serverless-esbuild/commit/9d81dce7105af5ebb69d0dc42a383d0bcd8e1aa3) has broken our builds because with **npm workspaces** we only have a `project-lock.json` at the root.

Perhaps this path needs to be variable based on the packager configured.

_Originally posted by @chrisui in https://github.com/floydspace/serverless-esbuild/issues/199#i

[2021-09-29 18:54] olup commented on #202
Yeah, so I made those changes, and I think we can find a middle ground.

Detection of a local package.json was the logic implemented to detect the use of monorepo. But because it was sought at root level, detection would always fail, what I did was to go back to a local detection. See, it is because I am using a monorepo with workspaces and because I need inclusion of externals that in my case ins

[2021-09-29 22:11] floydspace commented on #189
I started preparing a [wiki page](https://github.com/floydspace/serverless-esbuild/wiki) and realized that the most common scenarios are well defined in the readme. So we can take basic test cases from there. For instance, a case when no configuration is required would be tested like we're having correct default options passed to esbuild's mocked build function and that we are not running packing

[2021-09-30 07:09] #199 closed

[2021-09-30 07:13] zirkelc opened #203 "Question: support for Lambda Layers in TypeScript?"
I could't find any indication in the documentation, but does serverless-esbuild support lambda layers written in Typescript? There's currently an open issue with serverless-webpack (https://github.com/serverless-heaven/serverless-webpack/issues/556) which does not compile the TS into JS before packaging the layer.

I was hoping I could use this package to deploy may layers.

[2021-10-01 15:27] #200 closed

[2021-10-02 01:04] samchungy commented on #203
I think that this may be a tough feature to add. Seeing as layers could have any number of entry points, I don't know if there would be a one size fits all approach.

I guess this could support single file entry point layers but I can't see how multiple entry points world work. The benefit of esbuild may be minimised if we set multiple entry points seeing as they may pull the same packages into th

[2021-10-02 01:18] samchungy commented on #203
This could be an interesting thing to add. I think there would be a question around how to set entry points.

I think if they specify only a path, we should treat every file in there as an entry point, otherwise people should specify what files they want as entry points.

If they have a nodejs folder we should leave it untouched to preserve the library dependency behaviour of lambda

[2021-10-02 10:26] chriszirkel commented on #203
Yes I agree. I think a convention would make sense here that if a layer points to a folder, then every file should be treated as entry point. If the layer points to a specific file like index.ts/js, then only this should be considered an entry point.

[code]

Alternatively, the `layers` property inside serverless.yml could be extended with an `entries` property.

What would be a good starting poin

[2021-10-02 13:46] samchungy commented on #203
Sounds like you're keen to contribute this, very nice! Some consideration will definitely need to be taken around packaging patterns + exclude.

A few questions come to mind:
- Should the `external` esbuild functionality affect the packaging of layers?
- What if the user wants to pack some static files in the layer? Should they use package patterns? Or should we include them by default when they s

[2021-10-03 11:29] floydspace commented on #203
Hi @chriszirkel @samchungy what is the common scenario of using layers? So far in my experience, I have used layers to push there some heavy artifacts (chrome binary from puppeteer for instance) or pre-installed node_modules folder. Could you share your use case, do you push there like shared helper functions? then I have a couple of questions: do you need them to be bundled or just transpiled? Ar

[2021-10-03 22:25] samchungy commented on #203
Ah yep that makes sense. I haven't used layers in a while but my usecase was similar. I would pre-install `node_modules` too. So I guess we can ignore `external`.
I think if we make users manage their own lambda layer `nodejs` folder  & `nodejs/package.json` it would make more sense. Then we don't need to worry about it. I think the logic should be just to copy over the `nodejs` folder in the laye

[2021-10-04 12:03] chriszirkel commented on #203
I currently use layers to share common code and dependencies between multiple services. Also my serverless service only contains layers and doesn't contain any functions, so I don't have the issue of lambdas referencing the code from the layer.

I agree to @samchungy logic about `layer/nodejs` folder. I think the existence of a `package.json` file inside that folder could determine the way forward

[2021-10-05 17:53] dillon-sellars-voya opened #205 "RangeError: Maximum call stack size exceeded when using esbuild-node-externals plugin"
When using esbuild-node-externals plugin there is a recursive function that runs out of stack space.

esbuild-plugins.js
[code]
serverless.yml
[code]

[code]
...repeats for another 14,000 lines

[2021-10-08 14:57] doktor500 opened #206 "Feature: Allow to configure plugins"
Hi,

I've managed to set up the `serverless-esbuild` plugin to use `esbuild-plugin-tsc` since I have code in my serverless functions that is using decorators.

My `serverless.yml` looks like this:

[code]

The `esbuild-plugins.js` file

[code]

And for reference the `tsconfig.json` file

[code]

The issue that I have is that I need to enable a flag on `esbuild-plugin-tsc` for it to work and I have

[2021-10-09 07:41] #206 closed, assigned to nobody

[2021-10-12 14:49] soggie opened #207 "semver missing from a clean build"
Steps to replicate:

1. use serverless to create a new project
2. `yarn add serverless-esbuild`
3. `serverless package`

Expected: it should work

Actual:

[code]

[2021-10-12 21:09] #207 closed, assigned to nobody

[2021-10-14 21:04] jefftham opened #209 "json and html is not bundle"
As node official website suggested to use fs module to load json file, but esbuild is not bundling the .json and .html extension.

https://nodejs.org/api/esm.html#esm_no_json_module_loading

[code]

[code]

is there a way to use recommended way to bundle .json and .html files? i set the loader option but it is not working
[code]

[2021-10-15 06:12] kaihendry opened #210 "Confused as to how to structure shared code"
My goal is to produce fast deployments **without layers**, that work locally, and where my final functions only contain the dependencies they need.

Normally I would create a package.json in each function like so:
https://github.com/kaihendry/sls-deps-esbuild/blob/main/v1/foo/bar/package.json

But that fails with `v1/foo/util/log.js:1:20: error: Could not resolve "lambda-log"`. I'm not sure how to

[2021-10-15 11:40] arpadgabor commented on #210
Try adding the following to your config file:

[code]

This is what I am doing and splits all the functions into their own zip file. But please beware, if you are trying to use packages like knex (that dynamically import other packages), you will either need to use layers, or explicitly add the [dependecies to the bundle](https://www.serverless.com/framework/docs/providers/aws/guide/packaging#patt

[2021-10-16 13:04] joewestcott commented on #157
I have the same issue. I've also got `app` and `org` set in my `serverless.yml`, so I assume we're all using the Serverless Dashboard/Framework CI/CD service.

I haven't had an issue when using serverless-webpack, so I think this plugin has an incompatibility with the serverless [dashboard-plugin](https://github.com/serverless/dashboard-plugin). My guess at this stage would be `serverless-esbuild`

[2021-10-16 15:09] joewestcott commented on #157
More digging:

It seems like `serverless-dashboard` checks for `package.artifact` of each item within the `ctx.sls.service.functions` object to perform it's function wrapping on, see [here](  https://github.com/serverless/dashboard-plugin/blob/de7ecf9d295a6f728d21b1b9d16bfbeaccb7964b/lib/wrap.js#L393).

I can see `serverless-webpack` is [setting the artifact path](https://github.com/serverless-hea

[2021-10-21 08:22] feryardiant opened #211 "Failure: Cannot find module '../../dialects/sqlite3/index.js'"
Hi,  I am new here and experiencing this issue which is I have no clue what's just happened 😅

My project is using `knex` with `postgres` or `sqlite` as main database, but when I ran `sls offline` and trying to accessing the url, my terminal show me this error.

[code]

Appreciate any helps,
Thank you in advance.

### Info
[code]

[2021-10-21 13:45] feryardiant commented on #211
My apology for reopening this issue. Because I got another error like these

[code]
And here my `serverless.yml` file

https://github.com/feryardiant/learn-webar/blob/64c5577b4a8e61faf2ce1cee5eecd0d6eaaf5d7a/backend/serverless.yml#L28-L36

Also I noticed this error when I try invoking the end-point after deployment https://github.com/feryardiant/learn-webar/issues/8

[2021-10-21 23:49] LorenzoR opened #212 "Error when using AWS ECR image with TypeScript"
I posted this https://github.com/serverless/serverless/issues/10127 and got a reply saying it was most likely a bug in this plugin.
Probably around https://github.com/floydspace/serverless-esbuild/blob/92044439f6ce0fa89aa33c63383f1fe7a4016365/src/helper.ts#L41-L43.

### Issue description

I created a serverless project using template `aws-nodejs-typescript` doing:
`sls create --template aws-nodejs

[2021-10-25 03:09] jagregory opened #216 "Building broken in 1.21.0 due to installExtraArgs"
PR https://github.com/floydspace/serverless-esbuild/pull/116 added `installExtraArgs` which is used by the packager, but that config option also gets passed to esbuild and esbuild's config validation fails with an invalid option.

[code]

I think `installExtraArgs` needs to be added to the list here: https://github.com/floydspace/serverless-esbuild/blob/master/src/index.ts#L298

[2021-10-25 06:21] #216 closed, assigned to nobody

[2021-10-25 06:27] y-nk opened #218 "installExtraArgs related error"
Freshly used (what a coincidence), I've just installed the plugin alongside with `serverless-offline`.

When running `npx serverless offline`, i get an error:

[code]

[2021-10-25 06:31] #218 closed, assigned to nobody

[2021-11-02 17:01] sahasd opened #221 "ImportModuleError when executing lambdas"
When I add the es-build plugin to my serverless.yml file and deploy to AWS, I get the following issue when triggering a lambda called `InternalConfig`:
[code]
I get the same issue for all my lambdas deployed through serverless when using `serverless-esbuild`

For context, the InternalConfig lambda is defined in the `serverless.yml` file as follows:
[code]

What's weird is this error does not exist

[2021-11-04 12:56] samchungy commented on #221
Hey @sahasd could you post some sample code for us to reproduce this? It's tough to debug without seeing some code.

Is this error directly from AWS Lambda?

[2021-11-05 19:30] mjyocca commented on #157
I believe I'm experiencing this same issue, mine is `s_app.handler`. Any known workarounds?

[2021-11-08 17:18] simonireilly opened #225 "Support Multiple Runtimes (Python/NodeJS) in same serverless.yml"
Currently esbuild wants to also compile my python code.

### Steps to replicate

[code]

### Proposed Solution

- Ignore any files that have entry points, where the runtime is not `nodejs.xx.x`; this will prevent esbuild attempt to compile them.
- This ignore should include not adding node_modules to the zip file created for those

[2021-11-09 11:47] samchungy commented on #225
Just checking - are you on the latest version? @simonireilly

[2021-11-09 14:16] shichongrui commented on #225
I am having this issue as well while trying to run `sls invoke local` for my python function. Can confirm I am on the latest `serverless-esbuild` version. If I comment out the plugin line for `serverless-esbuild` in my `serverless.yml` file it works. Uncomment it and it doesn't work.

[2021-11-09 14:43] michaelknoch opened #226 "publish to npm"
would it be possible to publish the current master to npm? We would really like to consume one of the recent fixes https://github.com/floydspace/serverless-esbuild/commit/8e105a6ff5174d23adb1eb0e42606c63e1224d24. @gavynriebau @floydspace

[2021-11-09 20:34] floydspace commented on #226
@michaelknoch the fix you're looking for is already released in [v1.21.1](https://github.com/floydspace/serverless-esbuild/releases/tag/v1.21.1). Ignore the failed pipeline, the publish was successful

[2021-11-09 20:54] michaelknoch commented on #226
ok interesting @floydspace , it keep running into this error when trying to add extrArgs

Serverless: Invoke aws:common:validate
Serverless: Invoke aws:common:cleanupTempDir
Serverless: Compiling with esbuild...

    220 │       throw new Error(`Invalid option ${where}: "${key}"`);
        ╵             ^
    at checkForInvalidFlags (/Users/michaelknoch/dev/flow/apollo-server/serverless/node_modul

[2021-11-09 22:14] samchungy commented on #225
Thanks guys, I'll take a look some time in the next 24 hours.

[2021-11-10 01:14] samchungy commented on #225
Hey @shichongrui @simonireilly, just gave it a shot and can't replicate it. (Also tried with Python3.9). Am I missing something?

![image](https://user-images.githubusercontent.com/18017094/141031528-cc4d398e-685d-4afb-8ce4-22d84f5d26e9.png)

[2021-11-10 02:44] shichongrui commented on #225
@samchungy I've set up a local project to match your screenshot that I have attached as a zip. One note is that I don't see a `python.py` file in your screenshot. Running `sls package` does indeed succeed but if you unzip the `hello-world.zip` the python function is not packaged. Also if you run `sls invoke local -f world -d "{}"` you get the error that I am seeing.

[code]
[python-test.zip](https

[2021-11-10 02:55] samchungy commented on #225
Right, so your issue is different to @simonireilly's.

Your issue:
So not including the python function in the package is **intentional** as we are using esbuild to bundle the code We want to include the bare minimum to reduce the size. If you want to include the python file in the bundle you should be able to use package patterns to include it in the zip.

@simonireilly:
I couldn't quite replicat

[2021-11-10 06:50] simonireilly commented on #225
Sure thing, I am using:

 ​    ​"serverless"​: ​"​2.61.0​"​,
 ​    ​"serverless-esbuild"​: ​"​1.18.1​"​

There is nothing more in my setup for bundling.

First and foremost I guess I need to update to latest and see if I am still getting the issue.

If I does stop throwing the error, I would still need the python code to bundle. I assume the if used:

[code]

I'll get one python .zip and one JavaS

[2021-11-10 07:03] samchungy commented on #225
yep ignoring node functions got added in v1.20.0. https://github.com/floydspace/serverless-esbuild/releases/tag/v1.20.0

[2021-11-10 07:20] simonireilly commented on #225
Sure thing, this certainly is not an issue in v1.21.1.

This issue can be closed :+1:

@samchungy thanks for your support on this one, I should have read the release notes :+1:

@shichongrui to package the python I ended up with the following:

[code]

[serverless-esbuild-1-21.1.zip](https://github.com/floydspace/serverless-esbuild/files/7510618/serverless-esbuild-1-21.1.zip)

[2021-11-10 07:38] samchungy commented on #225
No problemo, glad I could help. Hope you have a good day 🙂

@shichongrui if you have any other issues, feel free to open a new issue

[2021-11-10 07:38] #225 closed

[2021-11-10 07:52] samchungy commented on #226
Could you confirm what your plugin version is? I just gave it a quick try and it seems fine

![image](https://user-images.githubusercontent.com/18017094/141072091-4dd130d2-15c4-4009-908b-733b7aaf8034.png)

[2021-11-10 13:17] shichongrui commented on #225
Ok I'll open another issue for the local invocation issue.

[2021-11-10 13:22] shichongrui opened #228 "`ModuleNotFoundError` when locally invoking a python function"
In a project with both node and python functions, when you run `serverless invoke local -f pythonFunction -d "{}"` you receive a `ModuleNotFoundError`. If you comment out the `serverless-esbuild` plugin in the `serverless.yml` file it works.

I have attached an archive to reproduce the issue.

[python-test.zip](https://github.com/floydspace/serverless-esbuild/files/7513000/python-test.zip)

Repro

[2021-11-10 19:00] capaj commented on #195
I can see the same problem here, using
[code]

pattern inside a function is ignored, at the root level it works just fine

[2021-11-11 08:27] samchungy commented on #228
Have you tried using Serverless package patterns to include the python handler?

[2021-11-11 10:58] capaj commented on #195
![image](https://user-images.githubusercontent.com/1305378/141278953-0a47cbfa-01ac-432a-961f-3c9ce783670c.png)
Problem is the name does not match the local path. Local path does not have the stage name in the middle.
I will open a PR with a fix shortly.

[2021-11-11 19:10] #195 closed

[2021-11-11 20:50] shichongrui commented on #228
@samchungy I'm not sure what package patterns you are referring to. Could you point me to some documentation on that?
Also just to make sure the issue is clearly articulated, my issue is with local invocation of a python function in a serverless project using serverless-esbuild, not with packaging.

[2021-11-11 22:40] samchungy commented on #228
Your issue is with packaging because that's why it is failing. Since we explicitly ignore Python handlers you have to handle that part of the packaging yourself. You can use Serverless patterns to achieve this yourself. https://www.serverless.com/framework/docs/providers/aws/guide/packaging#examples

https://github.com/floydspace/serverless-esbuild/issues/225#issuecomment-964850136 also gave you a

[2021-11-12 04:36] samchungy commented on #157
Could someone send an example repo for me to clone? I see a few various setups above so I'd be interested to find the issue

[2021-11-12 16:26] mjyocca commented on #157
@samchungy I was able to replicate this just by @joewestcott observation of adding `app` and `org` properties on the serverless config. Could prob just use this template since it has serverless-esbuild configured https://github.com/serverless/serverless/tree/master/lib/plugins/create/templates/aws-nodejs-typescript

[2021-11-12 18:24] Lukasz-Kalicki commented on #221
Hi i ran into the same problem. Esbuild does not bundle objects outside the handler (if for example, You want to initialise something and cache it between invocations)
[code]

A workaround is to initialise your code in a handler, which is sometimes not a good option
cc @samchungy

[2021-11-12 23:06] samchungy commented on #221
I think that will depend largely on the implementation of the external package. There are a number of modules which do not work well with Esbuild. I personally have not run into many of these and they are normally resolved by declaring them as external.

[2021-11-12 23:31] samchungy commented on #157
So it looks like we bundle our code before this Serverless wrapper thing overwrites the handler. It looks like there is some expectation that we bundle the extra wrapper file and serverless_sdk. I wonder how serverless-webpack works. Has anybody tried with that?

[2021-11-13 01:31] samchungy commented on #157
So it looks like Serverless adds the dashboard plugin after our package function. The plugin registers the https://github.com/serverless/dashboard-plugin/blob/e414a135e654dade32eabc135d3d834c3ae0ee1f/lib/plugin.js#L305 hook which runs after our plugin.

No clue how to solve this. Seems like a Serverless Framework issue to me seeing as they auto inject this with no way to means to change the order

[2021-11-13 03:16] mjyocca commented on #157
That's unfortunate, serverless-webpack works, so I wonder if serverless framework hard coded serverless-weback to run before the dashboard plugin.

[2021-11-13 06:27] samchungy commented on #157
Interesting, I'll take a peek at webpack and see if they do something different to us

[2021-11-13 07:02] samchungy commented on #157
Okay - so it looks like this will work when `package` `individually: true` is set. The serverless-dashboard plugin looks for artifacts set on the function level whereas when package individually is not true we use the `service.package.artifact`

[2021-11-15 19:47] Lukasz-Kalicki commented on #221
You are right, declaring winston logger as an external package in my case worked correctly.
Thanks! 🙇

[2021-11-15 21:38] samchungy commented on #221
No worries, welcome to the world of esbuild

[2021-11-16 18:19] arpadgabor opened #233 "V3 support"
Hey there,

Serverless just [announced Serverless V3](https://www.serverless.com/blog/serverless-framework-v3-beta), and it seems there aren't any major breaking changes for plugins.

This looks like the new documentation: https://www.serverless.com/framework/docs/guides/plugins/creating-plugins

[2021-11-18 08:48] chearmstrong opened #234 "Super super super slow to create Zip files"
I have 20+ small functions.

[code]

Running on a Mac:

![image](https://user-images.githubusercontent.com/10651067/142381844-d1d3cfbc-808b-4ae0-b23b-a6637b722895.png)

Any ideas?

I've also noticed that the generated Zip files are all the same size - this seems weird but it looks like it's putting everything in the Zip. Am I missing something here?

[2021-11-18 21:31] samchungy commented on #234
Use the Serverless packaging feature if you would like them to be packed individually. Hope that helps

[code]

[2021-11-19 10:33] chearmstrong commented on #234
Hi, sorry - I should have mentioned, I'm already using that. It creates the individual Zip files. It's a fairly large project with a lot of lambdas - the Zip creation is just very very slow (`serverless-bundle` and `serverless-webpack` is fine for this step and creates Zips quite quickly).

With regards to the file sizes - is it right that all Zips are the same size. I would expect not due to tree

[2021-11-19 22:36] jweyrich commented on #209
@jefftham importing different exstensions is working for me with `serverless-esbuild@1.21.2`.
My `serverless.yaml` config is quite similar, but I use `serverless.ts`.

To make the compiler happy, I created a `.d.ts` file containing a module definition for each extra extension. Example:

[code]

And I have these in my `tsconfig.json` - although I have no idea if they're really required for this to

[2021-11-20 03:12] samchungy commented on #234
Okay I have a number of questions:

1. Are the Serverless Webpack zips larger or smaller?
  a. Do you declare those modules as external for webpack too?

2. Have you looked at what is being being bundled in the zips?

3. Are you using any package patterns?

[2021-11-20 15:50] jefftham commented on #209
Hi @jweyrich , thanks for your response.
Actually, `serverless-esbuild` work as expected to bundle the file.
The main issue is that we cannot test the source code because no esbuild-register created for js. There is one for typescript.

Yes, you solution may be work provided the it is a typescript project.

[2021-11-20 16:13] jefftham commented on #209
FYI,  i have spent enough of time to find the possible solutions. Now i got it and happy to share.

Background:-

- esbuild work correctly to `import json` and bundle it.
- esbuild work correctly to `import html` and bundle it if we define it in serverless.yml as `custom.esbuild.loader..html =text`
- mocha should test on the source code instead of compiled code but node or mocha do not know what i

[2021-11-20 16:13] #209 closed

[2021-11-22 14:46] chearmstrong commented on #234
OK, so I've excluded a number of packages that we deploy as a Lambda layer and this has _seems_ to have fixed the issues with the speed - the slowness only seems to be when they are included.

Looking at the zip files, `serverless-webpack` files sizes are smaller, and vary in size. `esbuild` ones are larger an all the same.

It seems top be putting all functions in the zip.

![image](https://user-

[2021-11-22 22:47] samchungy commented on #234
That is.... strange. I see your package config is specified in typescript/js or json? Is esbuild maybe including that file..?

[2021-11-23 09:21] samchungy commented on #234
Hmm is it possible to send a minimal repo to reproduce this?

[2021-11-24 00:56] shichongrui commented on #228
Finally got some time to look into this again. I've tried the suggestion from https://github.com/floydspace/serverless-esbuild/issues/225#issuecomment-964850136 as well as the suggestions from the serverless docs and still am encountering the same issue and if I comment out the `serverless-esbuild` plugin, it works. I've included a zip file to hopefully be able to reproduce or tell me what I'm mis

[2021-11-24 02:07] samchungy commented on #228
Right, okay I'm not 100% across the Serverless local invoke but it looks like they expect something to be compiled at a certain location.

![image](https://user-images.githubusercontent.com/18017094/143158527-ea923636-fdaa-4ba6-b80d-da79e06ca455.png)

[2021-11-25 23:19] arackaf opened #235 "Package Individually breaks if lambda paths are prefixed with ./"
Absolutely LOVE this plugin. Truly amazing, and a massive improvement over webpack.

Unfortunately the package individually option has stopped working. Basically this issue: https://github.com/floydspace/serverless-esbuild/issues/79

Except it's broken again.

---

For anyone coming here with the same problem: your best workaround will be to just deploy each function individually in a custom npm s

[2021-11-29 15:36] chearmstrong commented on #234
@samchungy I've found the issue. I haven't drilled in to the exact reason, but understand why.

My handler paths are defined with `./` at the start - this caused all the files to be bundled. Removing that solves the issue and only the required file is bundled in the Zip.

[2021-11-29 23:07] samchungy commented on #234
Good find! That might be related to how we find the entry points since we have to grab the function by splitting

eg. function1.handler means we need to grab the `function1` file. So I think we may need to adjust how we find that to allow for the `./` operator.

[2021-11-29 23:39] samchungy commented on #235
Hey @arackaf, could you provide an example repo? Could be related to https://github.com/floydspace/serverless-esbuild/issues/234#issuecomment-981750955 ?

[2021-11-30 05:58] arackaf commented on #235
@samchungy oh. my. god. Yep, that was it. If the paths to the lambdas are prefixed with ./ then it completely breaks the individual packaging.

I'm good to go, but, this does still seem like a bug. I'll clarify the title but feel free to close it if this is now a duplicate of the other issue.

[2021-12-02 01:08] beanaroo commented on #199
Could it be worth reopening this?

We are unable to use `1.22.0` with workspaces.

- The `yarn.lock` at the project root is not detected
- Local workspace packages are not resolved (install tries to download them from public registries)

[2021-12-02 21:19] #234 closed

[2021-12-02 21:19] #235 closed

[2021-12-03 00:35] mjyocca opened #237 "Loaders for particular file extensions"
Want to use the Base64 loader for particular file extensions.

I see how to implement plugins, but don't see any way to pass any loader flags to esbuild via this plugin

https://esbuild.github.io/content-types/#base64

[2021-12-03 07:26] samchungy commented on #237
I'm fairly sure we just pass through options to esbuild. Does this work?

[code]

[2021-12-03 15:48] mjyocca commented on #237
@samchungy I'll give that a go!

I got it working via a custom plugin, `build.onLoad({ filter }, async (args) => {...})`

[2021-12-04 00:19] beanaroo commented on #205
Are you perhaps using yarn workspaces? We believe it is happening due to recursive symlinking of local packages.

[2021-12-04 12:21] #228 closed

[2021-12-05 01:20] samchungy commented on #221
@sahasd is your issue still unresolved or can we close this?

[2021-12-06 12:33] samchungy commented on #189
I had a little think about this - maybe if we don't get unit test coverage we can at least setup some integration tests with snapshots. Anybody have a good idea on how we an achieve this?

[2021-12-07 04:15] mattisdada opened #241 "`dotenv` looks in the wrong directory with `invoke local`"
This is an odd quirk in difference in how `serverless offline` works vs `serverless invoke local ...` today.

If using the `dotenv` package, it will look for the `.env` file in `<root>/.env` in `offline`. Alternatively, in `invoke local` it will look for it in `<root>/.esbuild/build/.env` instead.

The current working directory for the two methods appears to be different, I think this is caused by

[2021-12-07 09:08] samchungy commented on #241
It's because we call `chdir` in here:

https://github.com/floydspace/serverless-esbuild/blob/273a3a68f1d1cf3f1d12382e1859d31f2bd453d2/src/pre-local.ts#L8

[2021-12-07 21:55] mattisdada commented on #241
Is doing that the right thing to do? Should `serverless offline` work like that too? It's just a bit confusing that both of these work differently.

Intuitively I would've expected the current directory to be the same on both (probably the location of the file being executed), but I might be missing a big reason why this works the way it does today

[2021-12-07 22:12] samchungy commented on #241
Hmm can I understand how you are using dotenv in this lambda? Are you packing this .env file into the lambda? If so it makes sense that we check the build folder of the lambda for the .env file.

[2021-12-07 22:31] mattisdada commented on #241
No, it's only for the developer environment. It's so you can have a local set of environment variables as a file, once deployed into production the env variables will be set specifically for that environment. So it's not part of the package or deployment.

If you're unfamiliar with dotenv, this might help a little bit on why it exists:
https://github.com/motdotla/dotenv#faq

[2021-12-07 22:59] samchungy commented on #241
Gotcha, I am familiar with how it's used, but, I was just checking how you were intending on using it.

I'm not sure how to answer this one. I would probably recommend https://www.serverless.com/plugins/serverless-dotenv-plugin or using their native resolution to be honest. https://www.serverless.com/framework/docs/environment-variables#support-for-env-files .

I would say that having it look in t

[2021-12-08 03:06] mattisdada commented on #241
I guess that's true, but shouldn't `serverless offline` have the same directory then? I think that's my main concern, is that there are two ways of executing this locally, but the "current directory" for both is different. Maybe that's fine though...

98% of the time I'm using `serverless offline` and it does work as expected, so no issues on that front

[2021-12-10 10:10] deel77 opened #242 "Duplicate file builds with Lambdas using same handler file"
I have been playing with `logLevel: info`  and have discovered that if you have multiple lambda functions defined using same root handler file, builder is executed multiple times (once for each lambda) which adds build time for many functions.

Example `serverless.yml`
[code]

It produces logs
[code]

I have tried it and is using it with multiple function and it really adds time to build.

It woul

[2021-12-10 23:08] samchungy commented on #242
I think this should stem down to why would you use the same handler as an entrypoint? This defeats the purpose of esbuild in trying to create the smallest possible file size for you.

[2021-12-10 23:18] deel77 commented on #242
@samchungy not in case when using
[code]
then I am expecting to have all functions bundled in one ZIP file

And when most of lambdas are working with same libraries and only difference is preprocessing incoming data in different format for different lambda function, such code is eventually just a small part of overall code and doesn't need to be split to different entrypoints, but it is more clean

[2021-12-11 16:28] dillon-sellars-voya commented on #205
No yarn workspaes. I suspect a circular dependency or just lots of npm packages. Trying to find a way to create a minimal example that reproduces the issue.

[2021-12-12 03:52] randalvance opened #243 "Package Individually Doesn't Work Properly After v1.22.1"
After v1.22.1, package individually seem to not work properly.

This repo can be used to replicate this:
https://github.com/randalvance/serverless-typescript-reference

First change the version of `serverless-esbuild` in `package.json` to `1.22.0`.
Run `npm run build`. Inside `.serverless` folder, check the individual function's zip file content and notice that only the code for that single functi

[2021-12-12 07:26] samchungy commented on #243
Probably something related to the relative paths logic, what does your path to the handler resolve to in the end? @randalvance

Eg. hello.handler

[2021-12-12 07:43] samchungy commented on #243
Hey @randalvance I just tried your sample repo and I'm not noticing anything different between the builds. Can I check what OS you are running on? I'm on a mac.

When I ran `npm run build` the zips had only 1 handler each?

![image](https://user-images.githubusercontent.com/18017094/145704532-9341e4be-7b64-4e0f-8eac-319df756669e.png)

[2021-12-12 09:13] samchungy commented on #243
Okay looking at your code I see you're using Windows for your development. I'll fix this probably later this week but do yourself a favour and install WSL 😆.

[2021-12-12 10:09] randalvance commented on #243
@samchungy, did you changed the version to 1.22.1 first? I also tried this in my Mac.

[2021-12-12 10:53] samchungy commented on #243
Yeah, I replicated it on Windows but could not on OSX. I'll fix it during the week if I have time.

[2021-12-13 07:16] #243 closed

[2021-12-13 18:35] dillon-sellars-voya commented on #205
I reproduced the issue here - does seem to be circular dependency

https://github.com/dillon-sellars-voya/serverless-esbuild/tree/bug/max-stack-size

[2021-12-13 18:43] dillon-sellars-voya opened #245 "getDepsFromBundle does not work when using esbuild-node-externals"
getDepsFromBundle assumes that all dependencies are present in the minified bundle. when using esbuild-node-externals, this is not the case as the nested dependencies are resolved from each dependency inside node_modules in separate require statements. As a result the list of dependencies passed to flatDep contains is incomplete and several libraries are not included in the .zip.

I believe this i

[2021-12-14 01:08] randalvance commented on #243
Thanks @samchungy, verified working now.

[2021-12-15 10:01] chearmstrong opened #246 "`patterns` not working as expected for me - files missing from `.zip`"
Hi.

Using version `1.23.1`.

I'm trying to get some files included in my deployment bundle - I have these files in `migrations-core` alongside my serverless function handlers.

![image](https://user-images.githubusercontent.com/10651067/146164714-989d41c3-5681-439e-87d1-d07fb2c0f3b3.png)

On these functions only, I have this:

[code]

When the code is being bundled, I can see these `__only` folde

[2021-12-15 22:11] #144 closed

[2021-12-18 07:40] vicary opened #248 "feat: watch mode for invoke local"
Developers would usually wants to save time by invoking a single function with a few designated inputs.

Since watch mode is already supported for `serverless-offline`, is it possible to also add this for invoke local for quick developments?

[2021-12-18 08:58] samchungy commented on #248
Hmm doesn't invoke local immediately invoke the function? How would a watch function work here? Would you want it to immediately be invoked?

With serverless-offline, correct me if I'm wrong but it exposes a localhost port which you call manually later?

I feel you could achieve this easily enough with nodemon?

[2021-12-19 07:40] vicary commented on #248
Once immediately, and then every time related sources are modified. It will be a long-running process.

Yes. My functions are largely AppSync resolvers and cron handlers. I would prefer running off predefined event objects and invoke locally, this favors unit tests without setup/teardown of a local web server.

Yes, but it makes a different between zeroconf and little-conf. It'd be perfect if `cus

[2021-12-20 14:04] chearmstrong commented on #246
Just to update on this - I have found the issue and a possible fix. I just wanted to make sure that it is indeed a bug and I'm not misunderstanding something.

The issue is this logic [here](https://github.com/floydspace/serverless-esbuild/blob/master/src/pack.ts#L68).

This logic check is `true`, therefore the files are excluded as the if block it returns `false`. Seems to be due to `fnNameWithou

[2021-12-21 07:58] samchungy commented on #246
Sorry I haven't had my computer on me for the past week, I still don't. I was gonna take a look.

Looks related to the change here. https://github.com/floydspace/serverless-esbuild/pull/229

If you click through to the linked issue I think @capaj mentions that the stage is not present on local?

Can I check what version of serverless you are on?

[2021-12-21 09:53] chearmstrong commented on #246
The command is:

[code]

The `npm run build:uk` script is just `cross-env LOCALE=uk serverless package --locale=uk`.

Severless version - `2.30.3`.

[2021-12-21 11:09] chearmstrong commented on #246
I've taken a look at that PR - I don't use `serverless-offline` but to me, that PR breaks things. It might resolve the `serverless-offline` issue but breaks the build/package.

Even when I don't specify a stage manually in `serverless.yml` the folder is created with a stage (`dev`). I'm not sure why it wouldn't?

[2021-12-21 13:57] samchungy commented on #246
Think I've figured it out in the above PR @chearmstrong ^

[2021-12-21 14:05] chearmstrong commented on #246
Nice one - yeah, that makes more sense.

[2021-12-22 01:26] mjyocca commented on #157
Quick update, for some reason setting `package` `individually: true` the final zip is missing node_module dependencies, package.json, package-lock etc

[2021-12-22 02:15] samchungy commented on #157
That is likely related to https://github.com/floydspace/serverless-esbuild/pull/249. Working on it. Time is scarce for me though.

[2021-12-22 16:16] mjyocca commented on #157
I'm going with removing the dashboard integration for now so not urgent.

[2021-12-27 00:14] samchungy commented on #211
Closing. @feryardiant please reopen if you still have an issue

[2021-12-27 00:14] #211 closed

[2021-12-27 00:15] samchungy commented on #210
Closing, please reopen if you still have an issue @kaihendry

[2021-12-27 00:15] #210 closed

[2021-12-27 00:16] samchungy commented on #221
Closing, please reopen if you still have an issue @sahasd

[2021-12-27 00:16] #221 closed

[2021-12-28 14:08] Jeremyllanta commented on #170
@samchungy Hi, can you explain a little bit more ?
I'm trying to deploy with
[code]
and [esbuild-node-externals](https://github.com/pradel/esbuild-node-externals) plugin but modules are not found on runtime

[2021-12-28 23:18] samchungy commented on #170
Package individually is broken right now. I've raised a PR for it, just waiting for people to come back from holidays right now I think 😊 That might be your issue, it might not

https://github.com/floydspace/serverless-esbuild/pull/249

[2022-01-03 11:47] domdomegg opened #250 "Does not use settings passed to node externals plugin"
The esbuild-node-externals plugin's configuration options do not seem to have any effect in combination with serverless-esbuild.

My esbuild-plugins.js:

[code]

My serverless.ts contains:

[code]

However, `@a/package` is then packed as an external module which it shouldn't be.

I believe this might be because serverless-esbuild detects whether the plugin is enabled, but then overwrites the setti

[2022-01-04 23:19] #246 closed

[2022-01-06 11:28] danionescu commented on #103
Hello, everyone, the reason why this happens is because the dependencies graph generated by npm does not include all the dependencies for all the packages, some of them being duplicates. The issue happens here https://github.com/floydspace/serverless-esbuild/blob/master/src/helper.ts#L81. For example, if I run `` in my project,

mongoose will have:
[code]

and mongodb-client-encryption
[code]
mong

[2022-01-07 03:30] samchungy commented on #103
Okay so it looks like when a package is _deduped_ the package will not have a *resolved* key so we may be able to use that in order to search for the one we need?

[2022-01-07 09:45] danionescu commented on #103
I think that we actually need the “dependencies” key. A solution would be to have another object with the keys being the package names and the values the dependencies array, for all the packages in the graph returned by npm. Then we could use that in the reduce callback to build the unique array.

[2022-01-07 10:52] danionescu commented on #103
Something in the lines of

[code]
If I have enough time this weekend, I push a PR.

[2022-01-07 11:36] danionescu commented on #103
Correction (fixes some bugs and avoids reaching the maximum stack length)
Something in the lines of:
[code]

[2022-01-10 05:41] samchungy commented on #241
Yeah that's a good point.

I think that might also be related to how `serverless offline` works. Since `serverless invoke local` targets a single specific lambda but with `serverless offline` we have no idea what lambda will be invoked and we rely on the behaviour of the `serverless-offline` plugin.

So like you suggested that might just be a quirk between the two. Bare in mind both implementation

[2022-01-12 16:38] kopertop commented on #145
@ffxsam did you ever make a public plugin for this? this is still the top google search result for this issue so I think it would be helpful if there was a final resolution here.

[2022-01-12 16:58] ffxsam commented on #145
@kopertop I didn't post it officially anywhere, no. I've since moved to [Serverless Stack](https://serverless-stack.com), so I had to modify my plugin code a bit.

[2022-01-13 17:23] Oldbury opened #253 "Plugin prevents deployments"
I have also raised this issue on the below plugin too, the same behaviour occurs when using this plugin instead of `serverless-plugin-typescript`

https://github.com/serverless/serverless-plugin-typescript/issues/262#issue-1102064858

[2022-01-14 15:46] henriquecarv commented on #145
When combining this solution with typescript, has anybody experienced your stack trace referring to the minified/bundled `.js` file instead of its `.ts` file?

[2022-01-14 20:43] samchungy commented on #145
Have you set the enable source map flag in node?

[2022-01-17 13:36] TheSilentDev commented on #212
Has this been resolved @samchungy, I'm still getting this error on the latest version

[2022-01-17 13:49] samchungy commented on #212
Hey @TheSilentDev could you post some stack traces and versions of Serverless + plugins?

[2022-01-17 13:57] TheSilentDev commented on #212
@samchungy

[code]

 Using  "serverless-esbuild": "^1.23.3"

[2022-01-17 22:47] samchungy commented on #212
Could you send me your serverless config file? Thanks.

[2022-01-18 07:33] TheSilentDev commented on #212
@samchungy

[code]

[2022-01-18 22:46] samchungy commented on #212
Interesting, have you got no other functions in here except this? I think our issue maybe be that we can't find entrypoints

[2022-01-20 12:18] doteric opened #254 "Retain file/directory structure"
I'm trying to figure out a way to retain the build file structure. I don't want everything bundled into one file.

First of all when I disable the `bundle` I get this error:
[code]
I can omit that by simply specifying `exlucde: []`, but that doesn't help in anything, because there is only one entryPoint and it doesn't look like I can include all my files.
Any solutions to this?

Thanks

[2022-01-21 12:05] klindklind opened #255 "Cannot keep class names when minifying"
Is there a way to do minified deployment package so that class names are preserved?

It seems that esbuild api supports keeping names https://esbuild.github.io/api/#keep-names but cannot figure out how to pass that argument to this serverless plugin?

I've tried following `serverless.yml` config:

[code]
With no luck 😢

[2022-01-22 00:06] samchungy commented on #255
You should be able to simply add it to the `esbuild` options.

eg.

[code]

[2022-01-24 06:33] klindklind commented on #255
Thanks for the tip @samchungy !

That casing doesn't actually work and gives following error
[code]

but if those kebab-cased options are transformed to camelCase, works. So following does what I want

[code]

Maybe https://github.com/floydspace/serverless-esbuild#configure could give little bit more tips that one can use any esbuild api options (https://esbuild.github.io/api/) to configure the se

[2022-01-24 06:33] #255 closed

[2022-01-25 11:05] jlgouwyapizr opened #257 "[info] Wondering about size comparing to webpack"
Hey folks !

Currently I'm using webpack 4 coupled with serverless-webpack.
The bundle time is quite long and that frustrates me.
So I came to take a look at esbuild.

But after trying serverless-esbuild on another branch, I find that my function size is twice as heavy.
On the other hand, for the bundle time is very very fast.

I then wonder if I am doing something wrong or if esbuild is less effi

[2022-01-25 11:09] floydspace commented on #257
Hey @jlgouwyapizr
Thank you for this valuable comparison.
Could you please check what causes the difference inside archives: the node_modules folder size or the bundle file size?

[2022-01-25 13:52] jlgouwyapizr commented on #257
Hey

I bundle everything. For now, I didn't use externals yet.

I see the difference by watching inside ./.serverless folder after running :
[code]

[2022-01-25 13:54] jlgouwyapizr commented on #257
This my webpack config, webpack.config.js :
[code]

 and for esbuild, just in serverless.yml :
[code]

[2022-01-25 14:38] floydspace commented on #257
Unfortunately, we cannot help much here, because bundling is completely done by `esbuild`, the `serverless-esbuild` is just a wrapper around it + externals packaging layer. As long as you're not using externals it is not an issue of this plugin.
I found this issue in `esbuild` repo maybe it would b helpful https://github.com/evanw/esbuild/issues/958

[2022-01-25 17:03] jlgouwyapizr commented on #257
Oh interesting ! Thanks for the feedback !

[2022-01-25 17:03] #257 closed

[2022-01-27 20:54] RichiCoder1 opened #258 "ESM Format Support"
With [Lambda support for ESM](https://aws.amazon.com/about-aws/whats-new/2022/01/aws-lambda-es-modules-top-level-await-node-js-14/), it'd be awesome to be able to opt into ESM output format. Bonus points for being dynamic (since `serverless-offline` still only supports cjs, but prod bundles would want to be ESM)

[2022-01-28 00:40] arackaf commented on #233
Hi - does anyone know if Serverless v3 is compatible with this plugin? The OP says v3 has no breaking changes, but this issue is labeled with enhancement.

[2022-01-28 06:40] samchungy commented on #233
Might be good to go, haven't had the chance to try it. Let us know 😄

[2022-01-28 06:44] samchungy commented on #233
Just gave it a quick spin on a repo or two and it should be compatible @arackaf. Let me know otherwise.

[2022-01-28 06:44] #233 closed

[2022-01-28 08:29] samchungy commented on #258
Enabling support could be an easy one?

Could probably just remove this line
https://github.com/floydspace/serverless-esbuild/blob/09f08c738171ed7e7b50727bef1846e9b0bcf579/src/index.ts#L290

and make it a default option. Should be a non-breaking change.
https://github.com/floydspace/serverless-esbuild/blob/09f08c738171ed7e7b50727bef1846e9b0bcf579/src/index.ts#L56

Not sure how I would feel about d

[2022-01-28 16:05] arackaf commented on #233
@samchungy hey cool - will do. Sorry, wasn't trying to be lazy - I saw this issue was open, and had the enhancement label, so I thought maybe there was a known incompatibility.

Will give it a go hopefully soon.

[2022-02-01 08:45] fargito opened #259 "Use Serverless V3 logging"
Hello ! Thanks for this awesome project :)

Serverless V3 came out last week and comes with a new logging system which produces cleaner output.
https://www.serverless.com/framework/docs/guides/plugins/cli-output

I think it would be great to use the same policy for this plugin, what do you think ? I can look into it and submit a PR in the next days.

[2022-02-01 10:38] floydspace commented on #259
Hi, @fargito thank you for the suggestion, I think it is a good idea, but keep in mind that the plugin can be still used with older versions of SLS, down to V1, not sure how these changes would affect the behavior, I will leave it to you. But PRs are welcome

[2022-02-01 12:43] samchungy commented on #103
Closing this as #251 should resolve this. Please yell out if you run into any more issues!

[2022-02-01 15:19] svetlasyrimis opened #260 "Dependency Injection not working when using serverless-esbuild plugin"
Hello,

I've encountered that weirdly dependency injection breaks(Nest.js project) when attempting to use `serverless-esbuild` in local environment. However when attempting to use `serverless-webpack` it's all working fine.

serverless-offline@8.3.1
serverless-esbuild@1.23.3
serverless@2.72.2
serverless-webpack@5.6.0

[code]

[2022-02-01 15:38] floydspace commented on #260
Het @svetlasyrimis, thanks for raising it. Does it work in the deployed environment?
Could you also try set all nestjs packages as external

[2022-02-01 17:46] svetlasyrimis commented on #260
Thanks for your prompt reply, will try that.

Using custom esbuild script to deploy, not sls.

[2022-02-05 04:19] samchungy commented on #253
Hey @Oldbury is this still an issue?

[2022-02-05 04:30] samchungy commented on #254
Hello this is an issue thrown by Esbuild so we cannot help you here.

[2022-02-05 04:30] #254 closed

[2022-02-05 05:45] samchungy commented on #259
I think this would force us to set a minimum version of serverless framework to v3 by the looks

[2022-02-05 06:06] samchungy commented on #245
Did this PR resolve your issue? https://github.com/floydspace/serverless-esbuild/issues/103

[2022-02-05 06:12] samchungy commented on #237
Gonna close this ticket, please yell out if this is not resolved

[2022-02-05 06:12] #237 closed

[2022-02-05 23:49] #258 closed

[2022-02-06 04:27] samchungy commented on #157
Closing this as this is a Serverless Dashboard Plugin issue. I've raised a PR to fix it in their repo.

https://github.com/serverless/dashboard-plugin/issues/668

[2022-02-06 04:27] #157 closed

[2022-02-06 22:18] EugeneDraitsev opened #265 "External dependencies bundling issue with version 1.23.4+"
Hi

I have an issue after update from version 1.23.3 to 1.23.4
It seems like this update breaks external modules bundling

I have 1 external module:

[code]

This module has `color` dependency and `color` has `color-string` dependency. So I would expect to see both modules in the `/node_modules` folder. However with version 1.23.4 it seems like only top level dependencies are copied to final build

[2022-02-06 22:33] samchungy commented on #265
🙈  Bugger, I'll look to adding some e2e tests to cover this some time in the future. Can I ask you what package manager you are using?

[2022-02-06 22:36] EugeneDraitsev commented on #265
Hi, I'm using yarn `1.22.17`

[2022-02-06 23:19] samchungy commented on #265
Okay don't mind me but I'm going to use this space to take some notes. Okay interestingly `yarn` has a dependency on ^4.2.0 and if we look in the dependency tree ^4.2.0 has an empty dependency tree but 4.2.0 has the dependency tree. This appears to affect only `yarn` at the moment. I'll probably have to go give pnpm a shot later on.

I'll see if I can resolve this over my lunch break.

yarn:
![ima

[2022-02-07 08:39] samchungy commented on #265
Update on this:

It turns out that yarn packaging is incredibly complex. Unlike `npm` which simply places version numbers the yarn output contains `^`, `~`, `*`, `1.x` in their version syntax which will involve more work than the simple mapping logic which `npm` packagers can use.

[2022-02-07 08:51] samchungy commented on #265
Reverted these changes for now. Thanks for raising the issue @EugeneDraitsev. Much appreciated.

[2022-02-07 08:51] #265 closed

[2022-02-07 08:53] samchungy commented on #103
#251 broke packaging logic with `yarn` packagers. Reverted the change for now. Will need to figure something out to handle the difference

[2022-02-07 12:13] samchungy commented on #103
Okay I found an issue with how we find yarn flattened tree dependencies:

sample originalObject:

[code]

`const detailsDeps = `originalObject[depName]?.dependencies || (details as JSONObject).dependencies;`

We always look for `buffer` on the original object even if buffer might be a different version. In this case -> `5.7.1` actually fulfils ^5.6.0 but when it does not match, it will have it's o

[2022-02-08 11:20] kobanyan opened #268 "Does not bundle externals"
Does not bundle externals when the import module name is different from the external package name.

Please see [example](https://github.com/kobanyan/serverless-esbuild-issue).

[2022-02-08 22:36] samchungy commented on #268
Hey @kobanyan could you please provide more information?

What is the expected output? What is the current output? I can't see you declaring anything as external

[2022-02-09 00:45] kobanyan commented on #268
@samchungy Thanks for the reply.

**expected behavior**
zip contains source-map-support and uuid in node_modules

**actual behavior**
zip contains uuid, but not source-map-support in node_modules

**console**
[code]

Is the above information sufficient?

[2022-02-09 01:59] samchungy commented on #268
In the above example I don't see them marked as `external`

If you want them to be included in your bundle you must mark them as such.

See https://github.com/floydspace/serverless-esbuild#external-dependencies for more information. Let me know if I am misinterpreting your issue.

[2022-02-09 03:10] samchungy commented on #268
Oh I think I understand, A reference to `source-map-support/register` isn't importing `source-map-support` gotcha.

[2022-02-09 05:21] kobanyan commented on #268
In the example, i use esbuild-node-externals plugin to easily mark all the dependencies in package.json as external.

I was able to work around it by rewriting import as follows.

[code]

However, since this problem can be noticed only after deploying or unzipping, it would be helpful if the plugin could take care of it.

[2022-02-09 06:47] samchungy commented on #268
Should be a relatively simple fix, but I'll take a look after I fix up the dependency tree fix PR 😄

[2022-02-09 12:19] samchungy opened #269 "`pnpm` packaging not working"
While working on #267, I could not get `pnpm` functionality to work.

1. `pnpm` stores it's deps in a subdirectory `node_modules/.pnpm/` or some npm_reg with `{package}@{version}` folders so the rest of the logic doesn't pull it into external
2. It fails at the install command saying the lockfile is out of date.
3. The list deps command is very broken because the list command without a depth only

[2022-02-09 20:07] floydspace commented on #269
Hey @samchungy, it was contributed by @lulzneko, to be honest, I haven't tested it and have never used it, maybe initially it worked. Please go ahead to fix it if possible.

[2022-02-10 00:07] samchungy commented on #269
Okay good to know 😛  I'll see if I can get to it if I have time but otherwise I'll leave this issue here in case someone actually tries to use it.

[2022-02-10 06:28] samchungy commented on #268
Hey just an fyi @kobanyan. Source Maps are stable from Node.js 14.18. I recommend setting `NODE_OPTIONS=--enable-source-maps` instead of using this package.

[2022-02-10 15:07] atwoodjw commented on #145
@henriquecarv Yes. Did you ever figure this out?

[2022-02-11 11:29] samchungy commented on #226
Closing the issue, please reopen if you still have the same issue.

[2022-02-11 11:29] #226 closed

[2022-02-11 21:39] vinicius91carvalho commented on #260
You can try @anatine/esbuild-decorators

There's an example here: https://docs.serverless-stack.com/constructs/Function

[2022-02-14 09:42] sinh117801 opened #272 "Cannot use debug breakpoint tool on VSCode"
When I config this code in `serverless.yml`, I cannot use debugger breakpoint on VSCode.
[code]

[2022-02-17 14:18] svetlasyrimis commented on #260
Update: Using `esbuild-plugin-ts-decorators` and plugins option in serverless.yaml actually made it work. Thanks for the help @vinicius91carvalho :)

[2022-02-19 04:12] #103 closed

[2022-02-19 04:12] #135 closed

[2022-02-19 04:13] #268 closed

[2022-02-19 04:16] samchungy commented on #272
Hey @sinh117801, not quite sure what you mean. How are you running it? Can you give us a example?

[2022-02-19 08:18] samchungy commented on #103
Alrighty hey everyone here, I think I might have finally solved it after a fair few days of banging my head. Please give the latest package a try.

[2022-02-19 09:32] samchungy commented on #245
Should be resolved by https://github.com/floydspace/serverless-esbuild/pull/267. Let me know if this isn't the case :)

[2022-02-19 09:32] #245 closed

[2022-02-19 12:50] samchungy commented on #250
Just to let you know, I did see this a while ago but I was busy trying to fix the external packaging. I'll take a look some time in the next week :)

[2022-02-19 12:50] #253 closed

[2022-02-20 04:57] samchungy commented on #250
Okay so it looks as if we cannot access the options you add to the plugin. The plugin itself relies on us calling the setup() function it returns however our plugin doesn't do that.

We could possibly give it it's own little section under our esbuild config. 🤔

Eg.

[code]

[2022-02-20 06:49] samchungy commented on #212
Let me know if you still have an issue but for now I'm going to close it

[2022-02-20 06:49] #212 closed

[2022-02-20 22:51] samchungy commented on #259
Oh it looks like this is possible without a breaking change to previous versions

https://github.com/serverless-heaven/serverless-webpack/pull/1013/files

[2022-02-21 03:28] samchungy commented on #205
Hey @dillon-sellars-voya not sure if this is fixed but I have modified the logic around `flatDep`. Let me know if this issue is still present.

[2022-02-21 12:30] samchungy commented on #157
Hey all in here, Serverless framework people merged my fix and it's released in the latest version 3.30. if you're still after this functionality, feel free to update and try again.

https://github.com/serverless/serverless/releases/tag/v3.3.0

[2022-02-22 09:57] CorruptedHeart opened #277 "Using this with serverless-offline pattern includes are only copied once"
Given a package include like:
[code]

The .ejs files will only be copied to output once, even if changes are made to the source files.

From the code it looks like it only copies if it doesn't already exist.

Was this for performance reasons?

Been thinking about how this could be fixed. Would the overhead of doing 2 stat calls per included file be worse than simply always copying? Doing the 2 sta

[2022-02-22 11:50] samchungy commented on #277
Yeah I think it was because of performance reasons, in particular if users are using copying in `node_modules` which can contain a ridiculous ammount of files.

[2022-02-23 01:36] kobanyan commented on #268
Thanks!

[2022-02-23 10:08] samchungy opened #281 "e2e integration tests"
I think we could possibly add some e2e tests to this. Perhaps we could make use of the examples folders.

Similar to this: https://github.com/floydspace/serverless-esbuild/issues/189 but I want to make extra sure I'm not breaking the really core functionality while working on this repository eg. https://github.com/floydspace/serverless-esbuild/issues/265. At the moment I essentially do the followi

[2022-02-26 01:28] #259 closed

[2022-03-01 10:12] ckjoris opened #285 "python import issues with serverless offline"
getting this error in project with both node and python functions & serverless-offline.
[code]

I think its because the `pre-offline.js` modifies the path for all functions. If I manually comment out pre-offline.js (code in the conditional) - then python functions start to work, but obviously that breaks all nodejs functions.

`sls invoke local` works fine with both the python and node functions.

[2022-03-01 13:19] samchungy commented on #285
Hey @ckjoris could you provide a sample repo to reproduce this? Thanks!

[2022-03-01 15:16] gparonitti opened #286 "TypeError: Cannot convert undefined or null to object"
Hi there,
I receive the `TypeError:  Cannot convert undefined or null to object` on version `1.25.0` of your plugin, 'till version `1.24.1` it has been working seamlessly. My esbuild configuration is
[code]
[code]

the error stack is:
[code]

I would like to maintain your package updated. Cheers!

[2022-03-01 17:07] mishabruml commented on #206
Hi @floydspace I also have a requirement on using the plugin (to get around needing `emitdecoratormetadata` flag) but am struggling to get my lambda running when using `serverless-esbuild` and `esbuild-plugin-tsc` together. Any help would be appreciated! Thanks

[2022-03-01 22:44] samchungy commented on #286
Hello! Thank you for the report. This was my change as part of a larger refactor of the dependency detection. It looks like there's some other edge case that I didn't consider.

It looks like your `parsedDeps`. It looks like your `parsedDeps` depenedencies object is empty which is strange. If you are running this locally could you sneak in a console log for me before line 140? `node_modules/server

[2022-03-02 09:22] gparonitti commented on #286
it works if I change:

[code]
to
[code]

But maybe there are other side effects I can't foreseen.
PS. I accidentally close the issue :)

[2022-03-02 09:52] mishabruml opened #288 "Spontaneous Error: npm ls -json -prod -long -all failed with code 1 when running serverless deploy or package"
[code]

This error started spontaneously with no code or environment changes that i can work out. I have pulled down my master branch, which is working in circleci just fine, but locally I recieve the above error. I am not sure what actually causes this error as the stack trace is unclear. Is it to do with resolving dependencies across monorepo structure? For information, my project looks like:

[

[2022-03-02 09:53] mishabruml commented on #103
Hey @samchungy I am spontaneously having issues that appear related to this https://github.com/floydspace/serverless-esbuild/issues/288

What was the fix that you deployed?

[2022-03-02 09:54] mishabruml commented on #288
Commenting out the lines

[code]

[2022-03-02 10:42] samchungy commented on #286
Thank you! The change I made was based on no existing unit tests so thank you for that! Much appreciated!

[2022-03-02 10:48] samchungy commented on #288
The change I made in the dependency fix PR was adding `-long` to the npm command. Without it, it was impossible for me to tell if something was deduped in the tree.

I suppose you've possibly tried running `npm ls -json -prod -long -all` locally?

[2022-03-02 10:50] mishabruml commented on #288
Yes I have. I have managed to resolve this issue by moving the `typedorm` dependencies from `/common` to `/service-a`, but that isn't ideal

[2022-03-02 10:51] mishabruml commented on #288
[code]

[2022-03-02 10:55] mishabruml commented on #288
`node -v v16.12.0`
`npm -v 8.1.0`

I need npm 8 for npm workspaces 😁

[code]

[2022-03-02 11:24] samchungy commented on #288
Hmm since this is locally we might be able to log the error.

In `node_modules/serverless-esbuild/dist/util.js` can you add: `console.log(stdout, stderr)` between line 51 and 52 and see what it's yelling about? I have a hunch it's related to peer deps.

<img width="965" alt="image" src="https://user-images.githubusercontent.com/18017094/156352535-5a7c4a5d-f758-4619-a401-61a81ee99774.png">

[2022-03-03 14:36] mishabruml commented on #288
Thanks for looking into this. Here is the output. Some redaction due to private repos 😄

[code]

[2022-03-03 21:35] samchungy commented on #285
Thanks mate! I'm in the process of adding some integration tests so I'll include something similar.

[2022-03-03 22:11] samchungy commented on #288
This is likely related to https://github.com/serverless-heaven/serverless-webpack/pull/782

[2022-03-04 08:32] mishabruml commented on #288
thanks a lot for this

hmm. I tried adding

`{ npmError: 'code ELSPROBLEMS', log: false }` to the `ignoredNpmErrors` here https://github.com/floydspace/serverless-esbuild/blob/master/src/packagers/npm.ts#L124-L128

but received the same error regardless. this seems to be due to the stringmatching in the error handling function throwing a false negative for the block of JSON that is output to stder

[2022-03-05 02:17] samchungy commented on #285
This is an issue actually with how serverless-offline loads python modules. https://github.com/dherault/serverless-offline/issues/993. I'll see if I can add customisation options for where things get outputted in our repo

[2022-03-05 14:21] trygveaa opened #290 "Slow detection of file changes"
I see that when I use serverless-offline, after I write a file it takes 2-3 seconds until the new code is compiled. If I try to run a function in this time, the old code is run. This is very inconvenient because it means I need to watch the output of serverless-esbuild after I make changes and wait until I see that the compile has completed before I run the function again.

I checked out what is c

[2022-03-05 14:30] samchungy commented on #290
Always happy to take PRs 😄

[2022-03-07 15:11] #286 closed

[2022-03-09 22:05] donald-lendit opened #292 "Trying to find package.json in the wrong path"
## Description
I changed the package from "lerna" to "pnpm" last week.
And I changed "serverless-plugin-monorepo" to this plugin "serverless-esbuild"

Can you tell me why plugin trying to find package.json in the wrong path
It's hard for me to figure it out.

How can I debug plugin with this logs ?
I don't know much, so please understand even if it's an inappropriate question 🙏

## Project structu

[2022-03-10 04:18] samchungy commented on #292
pnpm support is a little sketchy with this plugin. We don't support invoking from a folder which does not contain package.json in the root. eg. in your case when you invoke sls with pnpm it invokes it from MY_PROJECT by the looks. I'm not too sure how to help you as I'm not across pnpm.

[2022-03-10 11:47] samchungy commented on #292
Actually you might be able to use `packagePath`

[2022-03-10 17:41] donald-lendit commented on #292
I found it.

## Summary
The cause was the **yarn.lock** file in that path ( /Users/donald/Projects/yarn.lock )
remove yarn.lock file, problem solved!

For someone like me, let's be a little more detailed. Let me know if what I've figured out is wrong.
## Detail
As shown in the error log above
[code]
pack-externals.js:180:51
[code]
and **rootPackageJsonPath** variable declare and initialized in sam

[2022-03-10 22:39] samchungy commented on #269
Interesting, wasn't aware of that. tyvm I might be able to enable support with this in the future if I find some time

[2022-03-12 19:24] mishabruml commented on #281
Happy to help out on this one if I can. Just had a look at the esbuild e2e tests for inspiration, they look a little terse https://github.com/evanw/esbuild/blob/1452a38071824872132c9c0570374d8ee0b46f60/Makefile but maybe a good starting point?

I guess we aren't really wanting to test that esbuild works, more that the project just invokes esbuild with the desired arguments etc. But I suppose in th

[2022-03-12 20:46] mishabruml commented on #281
I had a stab at it https://github.com/floydspace/serverless-esbuild/pull/293

[2022-03-13 00:26] #288 closed

[2022-03-17 09:01] deathemperor commented on #290
@trygveaa it would be nice when the new code is compiled it prints out something like `compiled with latest changes`. As of right now it's hard to know when new changes are applied.

[2022-03-22 09:23] henriquecarv commented on #145
@henriquecarv I did not figure it out back then, so I stopped trying after a while. Might get back to it again sometime later :)

[2022-03-22 17:11] TheMechanic opened #294 "How make sourcemaps run..."
**Describe the bug**
I lost my day on it, so I share it here.
I was not able to have sourcemaps working. For making them work, you have to install 'source-map-support', then import at top of your entrypoint import 'source-map-support/register';

I don't get why this is not mentioned in the doc...

hoping it will help somebody else

**To Reproduce**
Steps to reproduce the behavior. If you have an e

[2022-03-22 22:16] samchungy commented on #294
Source Maps are stable from Node.js 14.18. I recommend setting NODE_OPTIONS=--enable-source-maps instead of using this package.

[2022-03-24 16:27] shadrech commented on #98
@mattisdada your solution seems to work for use with `require`, is there a equivalent solution for when using ES Modules?

[2022-03-24 19:42] mattisdada opened #295 "@mattisdada your solution seems to work for use with `require`, is there a equivalent solution for when using ES Modules?"
@mattisdada your solution seems to work for use with `require`, is there a equivalent solution for when using ES Modules?

_Originally posted by @shadrech in https://github.com/floydspace/serverless-esbuild/issues/98#issuecomment-1077810367_

It should still work if you are using import syntax or require syntax, your still interacting with the same resolution tree in node - but i could be wrong if

[2022-03-28 21:35] GioPat opened #297 "node_modules as lambda layer"
I'm currently developing several functions that share the same libraries.
It's working great and I'm able to get my functions deployed correctly, the only thing I'm struggling with is reducing the size (each simple lambda is 1.7MB) by sharing the node_modules between them.

I tried to manually create a layer containing the node_modules folder and deploying the function using the following esbuild

[2022-03-29 06:21] jonasem opened #298 "react-dom.development.js is bundled with production"
Trying to build a minimal react app (from a .tsx) bundles `react-dom.development.js` in both development and production builds.

The production bundle (created with `--define:process.env.NODE_ENV=production`) also bundles `react-dom.production.min.js` in addition to the development bundle, resulting in a bundle that is bigger than the development bundle.

Below is a picture of the production bundl

[2022-03-29 07:35] #298 closed

[2022-03-29 07:35] jonasem commented on #298
Woops, wrong repo! Sorry about that!

[2022-03-29 09:44] JwanKhalaf opened #299 "exclude doesn't seem to work"
**Describe the bug**

I am trying to run `serverless offline` and I am using the `serverless-esbuild` plugin.

Even though I have said that I want `pg-native` to be excluded, I still get the "could not resolve pg-native" error. In my `serverless.yml` I have:

[code]

I don't know if the above exclude syntax is right, but the documentation should be improve here. Cause this link is dead:

![image](

[2022-03-30 09:58] Setitch commented on #299
Here is example for aws-sdk that works for me (and prevents it form being in the packages at all)

[code]

[2022-03-30 09:59] Setitch commented on #272
I think he wants to run the lambda with attached debugger from node

[2022-03-31 13:33] JwanKhalaf commented on #299
Ah I awesome! thank you :pray:

[2022-04-05 08:25] clementAC commented on #205
I have the same problem with
esbuild@0.14.31
serverless-esbuild@1.26.1
esbuild-node-externals@1.4.1

The error message is the same and unfortunately it's not easy to debug because the message is not really helpful =/.

The only plugin I use is esbuild-node-externals

[2022-04-05 12:21] samchungy commented on #205
Hey @clementAC could you post the stacktrace? The codebase has changed a fair bit since this issue was last raised

[2022-04-05 12:37] clementAC commented on #205
yes sure

StackTrace
[code]

I removed all circular dependencies detected by tools sush as magde or dpdm and everything is clean.

Serverless.yml
[code]

[2022-04-05 14:31] samchungy commented on #205
Hey out of curiosity, did you edit out the versions of the plugins?

eg. `@prisma/client@XXX`

[2022-04-05 19:57] clementAC commented on #205
yes I edited the stacktrace XXX is not the version in package.json =).

Good catch, when I switch the lines it works!

[2022-04-07 06:28] buresmi7 commented on #294
for me works with 'source-map-support' this:

serverless.yaml
[code]

[2022-04-07 06:44] clementAC commented on #205
Thanks you for your reactivity!

[2022-04-29 03:51] joshstrange opened #304 "Different package rules for offline vs deploy?"
**Is your feature request related to a problem? Please describe.**
I'm running into an issue where the package->pattern rules are being followed for serverless-offline AND for deploys. Previously (when using webpack) the package patterns were only used for the deploy. I can see the value in having local builds mimic actual deploys but the issue is I need to include 1 file when running in offline m

[2022-04-30 23:49] joaocasarin opened #305 "The serverless-esbuild bundler fails with Typeorm/Prisma"
**Describe the bug**
When trying to create a aws lambda with typescript and try to use some ORM like Typeorm and Prisma, whenever I write `serverless deploy` or `serverless-offline`, I get the same exact error.

**To Reproduce**
Clone this repo: https://github.com/joaocasarin/aws-lambda-typeorm-error
Run `yarn install` to install dependencies and then either `serverless deploy` or `serverless offl

[2022-05-01 00:08] samchungy commented on #305
Have you tried marking the above libraries as external? Often this is because older libraries aren't using try/catch blocks with optional dependencies.

[2022-05-01 00:12] samchungy commented on #304
Yeah I can't see us implementing something just for Serverless Offline. Too much variability, ideally the Serverless Offline environment should match the Prod environment as closely as possible.

You could probably do something like this with the custom section. https://github.com/DataDog/serverless-plugin-datadog#disable-plugin-for-particular-environment

[2022-05-01 00:15] joshstrange commented on #304
I’ll look into both and report back if I find a good way to handle it (for other people who might be in the same position). I totally understand your stance, I just would prefer to avoid adding 50MB to each of my individually packaged functions (because I have both the lambda and Darwin engines in the package). Thank you!

[2022-05-01 01:54] joaocasarin commented on #305
I'm not sure what you mean with that, could you elaborate how to mark them as external?

also, thanks for the quick reply ☺️

[2022-05-01 10:36] samchungy commented on #305
https://esbuild.github.io/api/#external

Set is as external eg. in your serverless.yml
[code]

[2022-05-01 22:17] joaocasarin commented on #305
I just tried that... That error is now gone, but whenever I try to reach the lambda endpoint using the `serverless offline`, I get this error:
[code]

PS.: I have created a branch in the same repo called `external-fix` to reproduce this error.

[2022-05-01 22:33] joaocasarin commented on #305
I have also tried [this solution](https://github.com/serverless/serverless/discussions/11026#discussioncomment-2668261) that basically install those packages in the main project, but I get the same error as above (not the original error).

[2022-05-01 23:01] samchungy commented on #305
Seems like an issue with Serverless Offline now - I suggest trying something in https://github.com/dherault/serverless-offline/issues/1377

[2022-05-01 23:07] joaocasarin commented on #305
I'm pretty sure it's not related to Serverless Offline, since everything works fine using `serverless-webpack` instead of `serverless-esbuild`. I can share the repo, if you want.

[2022-05-04 22:39] joaocasarin commented on #305
Any idea here?

[2022-05-05 04:22] samchungy commented on #305
Can you try downgrading to serverless-offline 8.5.0. I'm fairly certain it's related to it.

[2022-05-05 05:13] joaocasarin commented on #305
indeed the error changes to another... Sorry for bothering I actually hadn't tried to downgrade before. I'll be commenting on that discussion about my case, because there is still another error.

[2022-05-05 10:08] samchungy commented on #305
Had a quick look. You might need to declare bcrypt as external too unfortunately

[2022-05-05 13:43] joaocasarin commented on #305
Yeah! After adding bcrypt to external libs it worked... But why was that even necessary? I mean, there is no log saying to do something like that and I'm also using some others external libs such as yup and uuid, why wasn't them necessary to be added in the external entry?

[2022-05-06 04:22] samchungy commented on #305
because that library is written in a way where it's expecting package.json to be at a specific spot in your directory.

[2022-05-06 04:23] #305 closed

[2022-05-07 20:41] Dilven commented on #305
To debug this, do a serverless package and check what is packaged in the zip-archive (in the .serverless directory). You can try extracting the zip-archive and do a node ./.serverless/handlers/your-handler.js then you should see more information what it's going on

[2022-05-09 23:49] Joshuabaker2 commented on #98
In addition to ameliorating memory eating-issues, I was also having issues where hot reloading wasn't working for me, and the solution from @mattisdada also fixed that. Thank you!

[2022-05-13 22:52] #281 closed

[2022-05-15 12:39] SamWSoftware opened #311 "Error when adding any plugins to ts template"
**Describe the bug**
When trying to add a plugin to the esbuild config, you get an error
[code]

**To Reproduce**
Steps to reproduce the behavior. If you have an example repository that would be even better:
1. Create a new aws-nodejs-typescript repo and install dependancies
2. `sls package` - This packages fine
3. Add an empty array of plugins to the esbuild config (see screenshot) or put a valid

[2022-05-15 13:11] SamWSoftware commented on #311
It turns out that you have to put the file name as a string.

![Screenshot 2022-05-15 at 15 09 00](https://user-images.githubusercontent.com/23235923/168474478-544abf61-062b-4c84-a42e-64e886077bcc.png)

This now compiles. It seems strange that I can't just put the config array in here.

[2022-05-15 23:14] samchungy commented on #311
We just do some very basic logic here. Always happy to accept PRs for improvements

https://github.com/floydspace/serverless-esbuild#esbuild-plugins

https://github.com/floydspace/serverless-esbuild/blob/dc3c6848b35cc711c130cb80c99e3e4b04eaa828/src/index.ts#L167

[2022-05-16 12:15] mzl-md opened #312 "Third level peerDependency is not excluded / canvas.node: invalid ELF header"
**Describe the bug**

We have a lambda with dependency jsdom, which has peerDependency canvas. Until recently, canvas was not installed by npm and not bundled by esbuild. If canvas is present, an error `canvas.node: invalid ELF header` is thrown at runtime.
Since the latest update, our devDependency `pdf-visual-diff` requires `canvas`. This leads to `canvas` beeing included in the bundle and runti

[2022-05-16 12:39] samchungy commented on #312
Ah I think I know the issue but won't have much time this week

https://github.com/floydspace/serverless-esbuild/blob/dc3c6848b35cc711c130cb80c99e3e4b04eaa828/src/helper.ts#L83

This needs the `exclude` list.

[2022-05-17 08:11] samchungy commented on #312
I'd have to test this but I believe this line here:

https://github.com/floydspace/serverless-esbuild/blob/fbf213d47a700debd15202e3f59f852b8edfe2a1/src/helper.ts#L92 you could add an or condition here to leave the loop if it's in the exclude list.

[2022-05-17 10:55] samchungy commented on #312
Oh I see because you are not using package individually.

[2022-05-23 04:15] #285 closed

[2022-05-23 23:56] ptykamikaze opened #314 "Packaging causing antivirus alert JS.TeslaCrypt.2.Gen"
**Describe the bug**
When running the command `serverless package` the process works fine until it is creating / copying the ZIP files since the bitdefender application is reporting that some of the zip files created by esbuild are infected.

![image](https://user-images.githubusercontent.com/5614001/169922400-de356628-0f2d-412f-9e6b-680779ee8334.png)

**To Reproduce**
Steps to reproduce the behav

[2022-05-24 00:55] samchungy commented on #314
Sounds like you might have a malicious dependency among your deps. Are you using externals?

You could try disabling scripts when you install packages with the `installExtraArgs` option.

[code]

If this stops the alert, I would try and find which package is causing this.

[2022-05-24 02:38] ptykamikaze commented on #314
Hello Sam, Thanks for the quick response.... I tried with the ignore-scripts argument but the same issue... There is something interesting... If I remove the word "payment" from the function name, it is not detected as virus.....  The weird thing is that with webpack this is not happening...  I will try to create a project to check if I can replicate the issue.

[2022-05-25 04:06] yuejun92 commented on #140
Hi @clawsl, I am also having the same issue currently even with the latest version 1.28.0.
<img width="545" alt="Screenshot 2022-05-25 at 12 04 39 PM" src="https://user-images.githubusercontent.com/12484773/170177376-781e4a67-acab-4dbb-8d8e-a30f1f44b658.png">
I am also using the individually package option.
plugins:
  - serverless-esbuild
  - serverless-prune-plugin
  - serverless-stack-terminatio

[2022-05-25 04:26] samchungy commented on #140
We haven't been able to reproduce this so if you could give us a sample repo where this can be reproduced I'd be happy to take a look.

[2022-05-25 06:05] yuejun92 commented on #140
Hi @samchungy,
[test-esbuild.zip](https://github.com/floydspace/serverless-esbuild/files/8768323/test-esbuild.zip)
I have zipped up a stripped down version of my project.
You can replicate it by the steps below:
1) go to the "serverless" folder and run command "npm install"
2) run command "npm run slsdeploy" (I have changed the command to "package" instead of "deploy")
3) go to the ".serverless" f

[2022-05-27 13:37] doteric commented on #254
@samchungy , so is there any other way to use serverless-esbuild and retain the file structure?

[2022-05-28 07:21] #242 closed

[2022-05-30 13:19] doteric opened #315 "Extra file (package.json) not included into final zips"
**Describe the bug**
Extra files (package.json to be exact) are not included into the final zips.

**Versions (please complete the following information):**
 - OS: Mac
 - Serverless Framework Version: 3.18.2
 - Plugin Version: 1.30.0

**Additional context**
So basically I wanted to use esbuild with ESM (AWS supports this for a while already). I set the `type` inside package.json to `module` and ev

[2022-05-30 17:57] floydspace commented on #315
hi @doteric , to be honest, not sure what is the reason we exclude, maybe because anyway we deliver bundled code and `package.json` used to be just unnecessary development artifacts, but feel free to test it locally with `patch-package` for instance and let as know, if you'd like raise a PR, keep in mind that we do not use root `package.json` for packaging dependencies, we generate one here https:

[2022-05-30 21:14] davidworkman9 commented on #285
@samchungy I'm trying to implement the fix here and am still running into problems even with the new `outputBuildFolder` and `outputWorkFolder` options. I've forked @ckjoris's repo and applied the changes I think are necessary.

I originally ran into `esbuild` complaining about these two new options, which I believe the fix is to remove them from the build options before sending the options to esb

[2022-05-31 02:59] yuejun92 commented on #140
Hi @floydspace, may I know if anyone is taking up this issue?

[2022-05-31 04:57] samchungy commented on #140
Hey @yuejun92 my capacity is pretty limited right now. I'll try take a look this weekend. Thanks for the repo.

[2022-05-31 05:32] yuejun92 commented on #140
Hi @samchungy, thank you very much.

[2022-05-31 09:29] samchungy commented on #140
I had a quick look and it's likely because your package pattern intersects the handler's. Could be an easy fix but I'll have a suss another time

[2022-05-31 10:01] samchungy commented on #140
Here's what I think is happening:

- We tell esbuild to bundle `./vc-insuance/V1/insuance.handler`.
- We copy it into your bundle at the same path ./vc-insurance/V1/insurance.js
- We look at your patterns and copy them over so the og one gets included too.

Is there any reason why you want to bundle everything in that folder?

[2022-05-31 13:08] yuejun92 commented on #140
Hi @samchungy, after i remove the package from the function, it's working now. I wonder if the plugin should ignore same file name or ignore the package all together since it will be bundling all imports/require into a single file.
Thank you very much for your help!

[2022-05-31 23:04] samchungy commented on #140
It won't import the file if you have a file you dynamically read. Eg using fs.readfile so that's why it exists.

[2022-06-01 07:34] reikje opened #316 "Option to run this plugin for functions that use container packaging and do not have a handler"
**Is your feature request related to a problem? Please describe.**

From the README.md: "this plugin will automatically ignore any function which does not contain a handler"

When using the [container image support](https://www.serverless.com/blog/container-support-for-lambda), the functions cannot specify the `handler` attribute, hence are excluded by this plugin.

However, when developing Typesc

[2022-06-01 09:58] doteric commented on #315
@floydspace , but this package.json seems to be generated only if there are external modules specified, right? Anyway it seems to be a bit mixed up. For now I'll hold with the PR as I don't have much time, but I assume the goal would be to use the base package.json and replace it with the necessary params (dependencies for example) generated by the package.json from the pack-externals.

[2022-06-01 11:02] floydspace commented on #315
@doteric yes, you're absolutely right, only external modules, here is the thing, other dependencies are bundled and you don't need them in generated package.json. so your assumption is correct, but could be vice versa, some of the params from base package.json would be copied to generated one, because you probably do not need `scripts` for instance nad other dev specific meta.

[2022-06-09 05:02] mpaleo commented on #315
@doteric Lambda relies on the package file or the file extension, so you could do something like this in your serverless.yml:
[code]

Ref: https://docs.aws.amazon.com/lambda/latest/dg/nodejs-handler.html

[2022-06-09 05:49] mpaleo commented on #315
BTW, getting the `package.json` deployed to Lambda is still really useful, because if you combine `outExtension` with `external`, it will fail because it doesn't find the original one.

[code]

[2022-06-15 16:15] clementAC opened #322 "Unable to bundle individual packages (node_modules missing)"
Hi, I have some problems to be able to produce working individual packages. I don't have node_modules in the .zip files

Here is an extract of my serverless conf
serverless.yml
[code]
plugin.js
[code]
In the `.esbuild/.build/` I have the node_modules with all the dependencies and I can see in the output of serverless deploy the `Packing external modules:` completed also with all my dependencies pr

[2022-06-15 18:49] mishabruml commented on #305
I'm also having this issue, trying to use `Typeorm` with esbuild 😢

Project compiles fine, until I import something from Typeorm into a handler.

I've got `typeorm`, `pg` and `pg-native` as externals

The `sls:package` results in a weird crash loop

[code]

[2022-06-15 18:53] mishabruml commented on #305
This happens even if I mark every dependency as external

[2022-06-15 22:57] samchungy commented on #305
Ah your issue is different. Seems like I might not have covered a case in the dependency flattener. What version are you using?

[2022-06-16 08:47] mishabruml commented on #305
[code]
 as you'll know, node16 isn't available yet on aws lambda so its running on node14

[2022-06-16 09:16] samchungy commented on #305
Can you update to at least 1.26.2 and try again? 🙏 I think I may have resolved it in that version

[2022-06-16 09:17] samchungy commented on #305
Node16 should be available now btw? 🤔

[2022-06-16 12:57] samchungy commented on #322
We do an analysis of your individual zips and try to only pack those dependencies. Is there a reason you're marking pg-native with exclude?

[2022-06-23 12:23] coyoteecd commented on #272
@sinh117801 here's what I used to get VSCode debugging with this plugin:

Add a launch configuration that starts serverless offline with the debugger attached:
[code]

I had to disable minification when debugging, I couldn't inspect values of local variables otherwise. So put `minify: false` (if I'm missing something, do put a comment here)

[2022-06-23 12:33] clementAC commented on #322
no particular reasons but with or without it changes nothing on the behavior of individually: true

[2022-06-23 13:01] coyoteecd commented on #294
@TheMechanic I got it working with native Node sourcemap support as described in [my comment here](https://github.com/floydspace/serverless-esbuild/issues/272#issuecomment-1164341242):  (and indeed, I lost a day as well)

[2022-06-23 20:58] tinchoz49 commented on #322
@clementAC are you working from a monorepo?

[2022-06-24 13:49] tinchoz49 commented on #322
I have the same issue but because I'm in a monorepo. The problem is how serverless-esbuild resolve the `esbuild-node-externals` dependency. https://github.com/floydspace/serverless-esbuild/blob/master/src/pack-externals.ts#L211

In a monorepo with PNPM the module cannot be found in that relative path.

Can be solved by doing:
[code]

[2022-06-24 13:54] coyoteecd opened #324 "Cannot deploy a previously built package from a different root directory"
**Describe the bug**
In CI/CD pipelines, we use `serverless package` + `serverless deploy` as separate steps. Sometimes, the CI system runs these steps in different root directories. In this case, serverless deploy fails with the following error:
[code]
See also the [discussion here](https://github.com/serverless/serverless/issues/9015).

**To Reproduce**
Steps to reproduce the behavior:
1. Set pa

[2022-06-24 20:31] samuelcastro opened #326 "Application Size"
**Describe the bug**
For some reason my application size was `900kb` before using this plugin and simply by adding it went up to `2Mb` without any changes?

Do you guys have any idea why?

![Screen Shot 2022-06-24 at 4 30 28 PM](https://user-images.githubusercontent.com/5281701/175662903-ea57ab8b-8f40-472b-90b8-b0ff0dda0eac.png)

![Screen Shot 2022-06-24 at 4 30 34 PM](https://user-images.githubus

[2022-06-24 22:13] Joshuabaker2 opened #327 "Support Yarn PnP with externals bundling"
**Is your feature request related to a problem? Please describe.**
Currently, when packaging a lambda where some modules are marked as `external`, if you use Yarn PnP, the modules are not packaged up into a node_modules folder with the lambda.

**Describe the solution you'd like**
Grab the modules from the global yarn cache and bundle them as a node_module.

**Describe alternatives you've consider

[2022-06-25 00:15] samchungy commented on #326
Are you using include patterns?

[2022-06-25 16:37] mishabruml commented on #305
Bundling for node 16 was fine btw @samchungy

[2022-06-25 17:00] mishabruml opened #328 "Allow configuring additional entryPoints to ease use with Typeorm migrations"
**Is your feature request related to a problem? Please describe.**
I'm using typeorm with migrations. The generated migration files are named with a timestamp e.g. `12345-migration.ts`. The common approach for including migrations in your Typeorm is providing a config option with a file glob eg:

https://typeorm.io/data-source-options#common-data-source-options

Sadly esbuild cannot statically res

[2022-06-26 12:58] mishabruml commented on #328
OK @samchungy I've managed to write a plugin to enable this, but its a bit brittle IMO.

Demo repo: https://github.com/mishabruml/typeorm-playground

The [plugin](https://github.com/mishabruml/typeorm-playground/blob/master/sls-esbuild-plugins/additionalEntrypointsGlobPlugin.ts) is written in TS and gets [compiled](https://github.com/mishabruml/typeorm-playground/blob/master/sls-esbuild-plugins/ad

[2022-06-27 15:23] samuelcastro commented on #326
Well, I just follow the basic setup for a basic js serverless project. I have not added any patterns.

[2022-06-27 17:38] samuelcastro commented on #326
Just fyi, I am using the [serverless-layers ](https://www.serverless.com/plugins/serverless-layers) plugin.

[2022-06-27 23:26] samchungy commented on #326
Can you look inside the zip for any info on what's different between the two? It's difficult to speculate based on your screenshots.

[2022-07-05 17:09] sinh117801 commented on #272
Thanks @coyoteecd. I really appreciate this. I will try it.

[2022-07-12 10:59] kaykhan opened #332 "How to integrate prisma with serverless framework aws-nodejs-typescript template that uses serverless-esbuild"
I am building a serverless function using the serverless framework. However im having an issue with running it locally

**prisma/schema.prisma**

    generator client {
        provider      = "prisma-client-js"
        binaryTargets = ["native", "rhel-openssl-1.0.x"]
    }

**serverless.ts**

    package: {
        individually: true,
        patterns: [
            "!node_modules/.prisma/client/

[2022-07-12 12:20] floydspace commented on #332
Hi @kaykhan. if you're using default `serverless-esbuild` config, it will bundle everything for you in one file, but to correctly resolve .prisma schema you'll need to let esbuild know hot to treat the schema file, so could you try to define:
[code]
and let us know if it helps

[2022-07-12 12:23] #332 closed

[2022-07-12 12:27] floydspace commented on #332
the difference would be that in my example it would put your schema in the bundle during the build step and would not demand the file in runtime.

your solution also works because you copied the schema file in the place where it's expected in runtime and resolves correctly.

[2022-07-14 09:22] doteric commented on #315
Thanks @mpaleo for the suggestion.
I haven't tested your suggestion, but I think some problems may occur.

Anyway regarding this case I've decided to not use `serverless` altogether as I'm not using much of it's features apart from the packaging (using terraform for the infra deployment) and decided to build my own simpler packager that does the job for me.

[2022-07-14 23:48] mrjavi91 commented on #98
@mattisdada I'm trying to implement your solution on a TypeScript project with around 8 functions, but I'm getting a weird issue, after running `serverless offline`, make one code change and save, the 'refreshServer' plugin runs in an infinite loop incrementing the ram usage until exhaustion.

[code]

Any idea why this could be happening?

[2022-07-15 00:36] matthew-gladman-oua commented on #98
Hmm, it's a pretty simple and dumb plugin, so I have to guess the events is being mangled somehow, none of the actions it's doing should be triggering a new esbuild build. Out of curiosity when it is removed (but nothing else has been changed) does the infinite loop still occur? I have to guess it's a file system related issue (esbuild is generating something that is then being picked up by esbuil

[2022-07-15 01:46] mrjavi91 commented on #98
When the plugin is removed, and after a single save the memory usage keeps incrementing, I have stopped the process when it reaches to 14 GB

I removed the line you mentioned `define: { 'require.resolve': undefined },`, and ran `serverless offline` again, made a dummy code change and saved, the ram usage keeps incrementing but somehow stabilizes between the 5-9 GB, in the meanwhile, the plugin is

[2022-07-15 01:50] matthew-gladman-oua commented on #98
I think you've got something else going wrong that's triggering the builds to re-trigger unrelated to the plugin:

Try just logging that esbuild build is being triggered:

[code]

Do you have anything that would be writing to your src directory?

[2022-07-15 20:02] mrjavi91 commented on #98
I don't think there is anything writing to the src dir. We have the following plugins: serverless-esbuild, serverless-offline, serverless-openapi-documentation-v2 and serverless-hooks.

This is a small sample of the logs (the plugin is just logging):
[code]
The ram usage never stops incrementing.

[2022-07-15 22:26] codingnuclei opened #334 "esbuild config function is called with unresolved serverless param"
**Describe the bug**
 Hi,

The first time `buildOptions` getter is called it is in the constructor.
https://github.com/floydspace/serverless-esbuild/blob/2c1d2ac842ac4270c48028d123887193ae957af2/src/index.ts#L85

If I am not wrong then this causes the esbuild config to be called with an unresolved serverless object.

(https://www.serverless.com/framework/docs/guides/plugins/creating-plugins)

Poss

[2022-07-16 01:38] mattisdada commented on #98
The revised plugin only does logging, and does nothing else, your problem is outside the plugin. I recommend copying the project elsewhere and just keep removing things until it works as expected. (plugins, functions, config, etc)

I suspect `serverless-hooks` might be the problem depending on what they are configured to do, but I cannot really say without looking at the complete project sorry. Bu

[2022-07-16 02:35] mrjavi91 commented on #98
Thank very much for the guidance, I'll look into it and get back with the fix.

[2022-07-16 07:39] samchungy commented on #334
Nice one, worth a fix I think. I'll have a look some time over the week

[2022-07-16 11:46] codingnuclei opened #335 "have serverless.yml esbuild buildOptions override esbuild.config"
**Is your feature request related to a problem? Please describe.**
If a `buildOption` exists in both the config file and in the serverless file, the config value win.
I am using a pattern whereby multiple services are using the same config file as a "base". For some services I wish to override these base values.  Currently this doesn't seem to work (unless I am missing something).

**Describe the

[2022-07-16 18:25] codingnuclei commented on #334
@samchungy had a little time on hand to give this issue a go. Let me know what you think?

[2022-07-17 16:01] martinmicunda opened #338 "Support --no-build for package and deploy"
**Is your feature request related to a problem? Please describe.**
The [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack/issues/398) has option to use `--no-build` flag so we can run `npx sls webpack` that build webpack contents  and then run `sls deploy --no-build -stage qa` that should package and deploy the serverless service using the existing `.webpack` contents

**

[2022-07-18 11:49] #315 closed

[2022-07-18 23:25] samchungy commented on #322
Yeah that makes sense - when I did this I didn't realise that esbuild pivots on more based on the platform. Also, at the time esm was still very experimental

[2022-07-19 06:12] fabioginzel opened #340 "work with serverless-lumigo"
**Describe the bug**
As of version 1.30.0 projects that use serverless-lumigo no longer work

[2022-07-20 12:32] #324 closed

[2022-07-21 05:52] dzmitrykliapkou opened #346 "Lambda redeployment during each pipeline run"
**Describe the bug**
We use Serverless with esbuild plugin to build and deploy a set of AWS Lambda functions. During pipeline execution Serverless is run from inside an AWS Codebuild container. We noticed that each time we run the pipeline SHA sum of Lambda zip packages is different and it causes functions to be redeployed each time

After small investigation we found that `package.json` file in e

[2022-07-24 06:36] samchungy commented on #346
This is an npm issue tbh. Can't resolve this one.

https://github.com/npm/npm/issues/12110

[2022-07-24 06:37] samchungy commented on #327
Yeah we might be able to support this when I find time to do https://github.com/floydspace/serverless-esbuild/issues/269

[2022-07-25 06:34] dzmitrykliapkou commented on #346
I see
Think the issue can be closed. As a workaround we decided to create additional directory with persistent path inside a codebuild container and perform build process there
Thanks

[2022-07-25 06:34] #346 closed

[2022-07-27 07:16] #334 closed

[2022-07-28 18:39] valentinbeggi opened #353 "make externals dependencies work with yarn berry"
Hi there,

**Is your feature request related to a problem? Please describe.**
Using Yarn Berry, bundling fails when using any `external` dependencies in esbuild config.
Code breaks because when `hasExternals` variable is true, commands related to yarn1 (e.g. yarn list) and not compatible with yarn berry are being invoked.

**Describe the solution you'd like**

Being able to declare `external` depe

[2022-07-29 01:21] samchungy commented on #353
Linked to https://github.com/floydspace/serverless-esbuild/issues/327

A fair bit of refactor will need to be done to support yarn2+ and pnpm. If you have time - be my guest. Otherwise, yeah I'll have to buckle up and get it done at some point

[2022-07-29 01:21] #353 closed

[2022-07-29 06:46] #314 closed

[2022-08-02 13:21] fabioginzel commented on #340
this is the result of deploy

<img width="797" alt="Captura de Tela 2022-08-02 às 10 20 51" src="https://user-images.githubusercontent.com/7377511/182384786-d1b905c8-4835-47a9-a35a-4b4447abf5f6.png">

[2022-08-02 13:31] fabioginzel commented on #340
In 1.27.0 version the code is complete

[2022-08-03 00:05] samchungy commented on #340
Hello, I need more info than that to help you, can you provide a sample repo or something?

[2022-08-03 10:09] alexcroox opened #355 "Package individually not bundling external sub deps"
I wanted to use package `individually: true` in order to introduce a new function.

However, without adding an additional function yet, just enabling the option to test it would result in my function not working correctly.

Diving into the zip output comparisons of the 2 it seems that node_modules doesn't include all of the `external` sub dependancies:

[code]

`individually: true` on the right, w

[2022-08-03 11:26] samchungy commented on #355
This is a knex issue. We do an analysis on your bundle to pick out only the deps you need.

https://github.com/floydspace/serverless-esbuild/issues/114

[2022-08-03 12:16] alexcroox commented on #355
strange, it works perfectly fine with `individually: false`.

Is the bundle analysis different with that option true? (even with only 1 function)

[2022-08-03 12:21] #355 closed

[2022-08-03 12:53] samchungy commented on #355
We don't do bundle analysis when you have individually: false :)

[2022-08-03 12:53] alexcroox commented on #355
Good to know thanks!

[2022-08-05 08:30] svoitovych0218 commented on #98
In my cause I had the same issue before I refactored packages import. When I have import like this:
**import * as firebaseAdmin from 'firebase-admin'** - memory increases exponentially on rebuild.
Once I rewrote import into following approach
**import { initializeApp, getApp, getApps, cert } from 'firebase-admin/app';** - memory leaks fixed.

[2022-08-06 14:23] davidworkman9 opened #356 "python import issues with serverless offline"
Hi, this is a re-issue of #285.

I've taken the original reproduction upgraded to the latest version and am getting the same import errors when attempting to hit a python endpoint via API gateway: https://github.com/davidworkman9/sls-esbuild-repro

I originally ran into esbuild complaining about these two new options, which I believe the fix is to remove them from the build options before sending

[2022-08-07 07:29] samchungy commented on #356
Please update your version. It is resolved in later versions already

[2022-08-07 07:29] #356 closed

[2022-08-07 07:34] davidworkman9 commented on #356
This reproduction is at the version it was "resolved" at. I've also tried the latest version.

[2022-08-07 07:44] davidworkman9 opened #357 "ModuleNotFound error when attempting to invoke python function via API gateway"
Reproduction: https://github.com/davidworkman9/sls-esbuild-repro

[code]

[2022-08-07 07:47] davidworkman9 commented on #356
Sorry, I guess the error message is different on the latest version.. Updated the reproduction and opened #357 with the newer error message.

[2022-08-07 09:35] samchungy commented on #357
You may need to use package patterns to reference said python handler. This is because we actually ignore python handlers so it should fallback to default Serverless packaging

[2022-08-15 00:13] robblovell opened #359 "Esbuild plugins do not work. Serverless exists with error: Plugin is missing a setup function"
**Describe the bug**

When attempting to use any esbuild plugin, the following error occurs:
```node_modules/esbuild/lib/main.js:786:16: ERROR: [plugin: plugin:copy] Plugin is missing a setup function```

**To Reproduce**

This error occurs with any plugin.

 Example:

app.ts
[code]

helloPlugin.ts
[code]
serverless.ts
[code]

package.json
[code]
Independent esbuild.config.ts
[code]

[code]

[code

[2022-08-15 16:21] davidworkman9 commented on #357
Thanks @samchungy that did the trick.

[2022-08-15 16:21] #357 closed

[2022-08-15 21:31] robblovell opened #360 "Allow use of esbuild 0.15.3 (<=0.15)"
Currently, if you try and upgrade to esbuild to version 0.15.x, npm complains that serverless-esbuild can only use esbuild >=0.8 <0.15:
[code]
**Describe the solution you'd like**
I would like to be able to use esbuild version 0.15.x

**Describe alternatives you've considered**
Otherwise, I am forced to use esbuild version 0.14.54.

[2022-08-19 07:50] #360 closed

[2022-08-19 16:46] fabioginzel commented on #340
See this repository:

https://github.com/fabioginzel/serverless-esbuild-error

[2022-08-20 03:59] samchungy commented on #340
Looks like an issue with `serverless-lumingo`. If you remove that plugin you can see we have packaged it successfully. Looks like your plugin isn't pulling in the file into the bundle.

[2022-08-20 15:45] fabioginzel commented on #340
But with
"serverless-esbuild": "1.29.0",
 its work

[2022-08-21 00:15] samchungy commented on #340
Likely Lumingo is not handling relative paths https://github.com/floydspace/serverless-esbuild/releases/tag/v1.32.3. I suggest raising an issue with them.

[2022-08-21 00:15] #340 closed

[2022-08-21 12:22] linonetwo commented on #121
Thanks, get it.

so we can have the solution:

[code]

[2022-08-22 14:45] Sam-Fairbanks commented on #98
@mrjavi91 - Did you ever find a fix?  I'm having the exact same issue

[2022-08-22 14:47] SamPF53 commented on #98
@mrjavi91 Did you ever find a fix? I'm having the exact same issue

[2022-08-30 10:47] blazejkustra opened #365 "Unable to bundle individual packages with pnpm"
**Describe the bug**
Hi, I have problems to package lambda with external modules using pnpm. I don't have node_modules in the .zip file when using pnpm, with npm it works fine.

**To Reproduce**
Here is sample repo: [link](https://github.com/blazejkustra/esbuild-test)
1. install pnpm and npx
2. install dependencies with `pnpm i`
3. `npx serverless package` <- this throws errors

Scenarios:
1. With

[2022-08-30 12:55] samchungy commented on #365
duplicate of https://github.com/floydspace/serverless-esbuild/issues/269

[2022-08-30 12:55] #365 closed

[2022-08-30 12:56] samchungy commented on #359
probably because of ESM/CJS issues. Think esbuild plugins may be expected in CJS

[2022-08-30 12:59] samchungy commented on #327
Okay looks like #269 might not be related to this one after all. Turns out the symlink pattern isn't supported in Lambda anyway so we'd need to use `--shamefully-hoist`. Haven't quite looked into how or if pnp works with lambda

[2022-08-31 06:36] blazejkustra commented on #269
Are you planning to fix it? In the documentation/configuration pnpm is listed as possible packager, the reality is that it is broken and not safe to use.. 😞

At least support `installExtraArgs: --shamefully-hoist` as this is acceptable workaround